<template>
    <section>
        <div class="entry-page">
            <div class="title-page">
                <div class="container">
                    <h1>Поступить в институт</h1>
                </div>
            </div>

            <div class="tabs">
                <SystemHead :init="true"></SystemHead>

                <DirectionsList></DirectionsList>
            </div>
        </div>

    </section>
</template>

<script>
    import SystemHead from '~/components/_parts/SystemsHead.vue'
    import DirectionsList from '~/components/_parts/DirectionsList.vue'

    export default {
        components: {
            SystemHead,
            DirectionsList
        },
        created() {
            this.$store.commit('changeSystemHeadActive', this.$store.state.systems.magistracy);
        },
        mounted() {
            this.$store.commit('changeMainColor', 'blue')
        }
    }
</script>

<style scoped lang="less">
    .title-page {
        padding: 137px 0 74px;
        background-color: #3e8bfc;

        @media (max-width: 1023px) {
            padding: 100px 0 51px;
        }

        @media (max-width: 767px) {
            padding: 61px 0 52px;
        }

        h1 {
            font-family: 'Graphik LC Web', "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 59px;
            font-weight: bold;
            line-height: 1;
            color: #ffffff;

            @media (max-width: 1023px) {
                font-size: 53px;
            }

            @media (max-width: 767px) {
                font-size: 42px;
                text-align: center;
            }
        }
    }
    .tabs-content {
        .inDevelopment {
            margin: 50px auto 100px;
            font-size: 25px;
            text-align: center;
            color: #898989;
        }
    }
</style>