<template>
    <section>
        <div class="modal" :class="{'active': modalOpen}">
            <div class="modal__overlay" @click="close()"></div>

            <div class="modal__inner">
                <ModalTest></ModalTest>
                <ModalFeedback></ModalFeedback>
                <ModalStaff></ModalStaff>
                <SuccessForm></SuccessForm>
            </div>
        </div>

    </section>
</template>

<script>
    import {mapGetters} from 'vuex'
    import ModalTest from './_parts/ModalTest.vue'
    import ModalFeedback from './_parts/ModalFeedback.vue'
    import ModalStaff from './_parts/ModalStaff.vue'
    import SuccessForm from './_parts/SuccessForm.vue'

    export default {
        components: {
            ModalTest,
            ModalFeedback,
            ModalStaff,
            SuccessForm,
        },
        computed: {
            ...mapGetters({
                modalOpen: 'getModalOpen'
            }),
        },
        methods: {
            close() {
                this.$store.commit('changeModalOpen', '');
            }
        }
    }
</script>

<style scoped lang="less">

</style>