<template>
    <section>
        <div class="about-stats">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-sm-12 col-md-8 col-lg-8">
                        <h2 class="about-stats__title">Об институте</h2>
                        <p class="about-stats__text">
                            ИМИС - наследник одного из старейших факультетов и ныне один из крупнейших институтов Вятского
                            государственного университета. Его всегда отличали сильный профессорско-преподавательский состав и
                            внушительный научный потенциал.
                        </p>
                        <div class="about-stats__numbers">
                            <div class="about-stats__numbers-item">
                                <span class="about-stats__number">8</span>
                                <span class="about-stats__note">кафедр</span>
                            </div>
                            <div class="about-stats__numbers-item">
                                <span class="about-stats__number">180</span>
                                <span class="about-stats__note">сотрудников</span>
                            </div>
                            <div class="about-stats__numbers-item">
                                <span class="about-stats__number">12</span>
                                <span class="about-stats__note">докторов наук</span>
                            </div>
                        </div>
                        <div class="about-stats__partners">
                            <h3 class="about-stats__partners-title">Партнеры</h3>
                            <img class="about-stats__partners-img" src="/images/min.png" alt="">
                            <img class="about-stats__partners-img" src="/images/elma.png" alt="">
                            <img class="about-stats__partners-img" src="/images/sber.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</template>

<script>
    export default {
    }
</script>

<style scoped lang="less">
    .about-stats {
        margin-bottom: 60px;

        &__title {
            font-family: 'Graphik LC Web', "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 28px;
            line-height: 34px;
            color: #122a51;
            font-weight: 500;
        }

        &__text {
            font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 16px;
            line-height: 23px;
            color: #9299a6;
        }

        &__numbers {

            &-item {

            }
        }

        &__number {
            font-family: 'Graphik LC Web', "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 36px;
            font-weight: 600;
            line-height: 42px;
            color: #122a51;
            display: inline-block;
            vertical-align: middle;
            margin-right: 12px;
        }

        &__note {
            font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 16px;
            line-height: 23px;
            color: #444444;
            display: inline-block;
            vertical-align: middle;
        }

        &__partners {

            &-title {
                font-family: 'Graphik LC Web', "Helvetica Neue", Helvetica, Arial, sans-serif;
                display: block;
                font-size: 17px;
                line-height: 24px;
                font-weight: 500;
                color: #42597d;
            }

            &-img {
                max-width: 140px;
            }
        }

        @media (min-width: 768px) {
            margin-bottom: 95px;

            &__title {
                font-size: 30px;
                line-height: 36px;
            }

            &__numbers {
                display: flex;
                margin-bottom: 30px;

                &-item {
                    margin-right: 40px;
                }
            }

            &__partners {
                display: flex;
                align-items: center;

                &-title {
                    font-size: 18px;
                    line-height: 25px;
                    width: 125px;
                    margin-bottom: 0;
                }

                &-img {
                    margin-right: 12px;
                }
            }
        }

        @media (min-width: 1024px) {
            background-image: url("/images/pic.jpg");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: 67vw center;
            padding-bottom: 70px;

            &__title {
                font-size: 36px;
                line-height: 42px;
            }

            &__text {
                margin-bottom: 30px;
            }

            &__partners {
                display: block;

                &-title {
                    width: auto;
                    margin-bottom: 20px;
                }

                &-img {
                    margin-right: 30px;
                    max-width: 170px;
                }
            }
        }

        @media (min-width: 1200px) {
            background-position: 67vw center;

        }
    }

</style>