<template>
    <section>
        <div class="accordion__wrap">
            <div class="container">
                <h3 class="accordion__title">Мы готовим таких специалистов</h3>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-md-6">
                        <div class="accordion">
                            <div class="accordion__head">Разработчик программного обеспечения</div>
                            <div class="accordion__content">
                                контент
                            </div>
                        </div>
                        <div class="accordion">
                            <div class="accordion__head">Аналитик данных</div>
                            <div class="accordion__content">
                                контент
                            </div>
                        </div>
                        <div class="accordion">
                            <div class="accordion__head">Специалист по защите информации</div>
                            <div class="accordion__content">
                                контент
                            </div>
                        </div>
                        <div class="accordion">
                            <div class="accordion__head">Преподаватели физики и математики</div>
                            <div class="accordion__content">
                                контент
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-md-6">
                        <div class="accordion">
                            <div class="accordion__head">Программист (C#, 1C, Python, PHP, Java и другие)</div>
                            <div class="accordion__content">
                                контент
                            </div>
                        </div>
                        <div class="accordion">
                            <div class="accordion__head">Разработчик аппаратного обеспечения</div>
                            <div class="accordion__content">
                                контент
                            </div>
                        </div>
                        <div class="accordion">
                            <div class="accordion__head">Инженер связи</div>
                            <div class="accordion__content">
                                контент
                            </div>
                        </div>
                        <div class="accordion">
                            <div class="accordion__head">Специалист в сфере AI</div>
                            <div class="accordion__content">
                                контент
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</template>

<script>
    export default {
    }
</script>

<style scoped lang="less">
    .accordion {
        margin-bottom: 10px;
        border-radius: 4px;
        overflow: hidden;

        &__title {
            font-family: 'Graphik LC Web', "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 17px;
            color: #42597d;
            font-weight: 500;
            margin-bottom: 13px;
        }

        &__head {
            font-family: 'Graphik LC Web', "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-weight: 500;
            color: #444444;
            font-size: 16px;
            background-color: #f0f3f4;
            line-height: 31px;
            padding: 20px 30px 20px 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;

            /*&:after {
                content: '';
                display: inline-block;
                width: 14px;
                height: 14px;
                background-image: svg-load('../svg/plus.svg');
                background-size: contain;
                background-repeat: no-repeat;
            }*/
        }

        &__content {
            display: none;
        }

        &__wrap {
            margin-bottom: 56px;
        }

        @media (min-width: 768px) {

            &__title {
                font-size: 18px;
                line-height: 25px;
            }
        }
        @media (min-width: 1024px) {

            &__title {
                font-size: 22px;
                line-height: 32px;
            }

        }
        @media (min-width: 1200px) {

        }
    }

</style>