<template>
    <section>
        <div class="career-after" id="anchor-career">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <h2 class="career-after__title">Карьера после окончания</h2>
                        <h3 class="career-after__subtitle">
                            Выпускники института обладают всеми необходимыми знаниями и навыками, позволяющими строить карьеру в
                            любой отрасли, в науке, строить собственный бизнес.
                        </h3>
                        <p class="career-after__text">
                            Тысячи компаний в России, в ближнем и дальнем зарубежье, приняли на работу наших выпускников.
                            Работодатели отмечают высокий уровень подготовки, что в итоге обеспечивает быстрый карьерный рост.
                            Огромное количество выпускников создали собственные компании и построили свои успешные предприятия.
                        </p>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="career-after__carousel js-career-carousel owl-theme owl-carousel">

                            <div class="career-after__carousel-item">
                                <div class="career-after__carousel-video"
                                     data-index="0"
                                     data-code="Lku9iKsEpOk"
                                     style="background-image: url('https://i.ytimg.com/vi/Lku9iKsEpOk/sddefault.jpg')">
                                </div>
                                <p class="career-after__carousel-caption">
                                    «Выпускники ИМИС востребованы!»
                                </p>
                                <p class="career-after__carousel-text">
                                    руководители региональных и федеральных IT-компаний
                                </p>
                            </div>

                            <div class="career-after__carousel-item">
                                <div class="career-after__carousel-video"
                                     data-index="1"
                                     data-code="ZzIKX2T4UyQ"
                                     style="background-image: url('https://i.ytimg.com/vi/ZzIKX2T4UyQ/sddefault.jpg')">
                                </div>
                                <p class="career-after__carousel-caption">
                                    «IT-образование - это правильный выбор!»
                                </p>
                                <p class="career-after__carousel-text">
                                    руководители региональных и федеральных IT-компаний
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</template>

<script>
    import CareerCarousel from '~/static/js/components/careerCarousel.js'
    export default {
        methods: {
            resetVideo() {
                $('.career-after__carousel-video').each(function () {
                    const $this = $(this);
                    $this.removeClass('play');
                    $this.html('');
                });
            }
        },
        mounted() {
            const c = new CareerCarousel();

            c.onDrag = () => {
                this.resetVideo();
                this.slide = true;
            };

            c.onTranslated = () => {
                this.resetVideo();
                this.slide = false;
            };

            const that = this;
            const $videos = $('.career-after__carousel-video');
            $videos
                .on('click', function () {
                    if (!that.slide) {
                        const $this = $(this);
                        const hasClass = $this.hasClass('play');

                        $videos.removeClass('play');
                        $videos.html('');

                        if (!hasClass) {
                            const index = $this.data('index');
                            const code = $this.data('code');
                            $this.toggleClass('play');

                            $this.html(
                                '<iframe width="560" height="315" ' +
                                'src="https://www.youtube.com/embed/' + code + '?autoplay=1&autohide=1" ' +
                                'frameborder="0" ' +
                                'allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" ' +
                                'allowfullscreen>' +
                                '</iframe>'
                            );
                        }
                    }
                });
        }
    }
</script>

<style scoped lang="less">

</style>