<template>
    <section>
        <div class="cooperation">
            <div class="container">
                <h2 class="cooperation__heading">Сотрудничество
                    с нами</h2>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <img class="cooperation__img" src="/images/pic_1.png" alt="">
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="cooperation__info">
                            <p class="cooperation__title">Готовим качественные кадры</p>
                            <p class="cooperation__text">
                                Индустриальные партнеры принимают участие в основом и дополнительном образовательных процессах,
                                таким образом оказывая влияние на содержание программ и подготовку будущих сотрудников.
                            </p>
                            <button class="btn btn__filled btn__filled--sm" @click="click">Доступ к кадрам</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pull-right">
                        <img class="cooperation__img" src="/images/pic_2.png" alt="">
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="cooperation__info">
                            <p class="cooperation__title">Решение сложных бизнес-задач</p>
                            <p class="cooperation__text">
                                Институт участвует в научно-исследовательских и опытно-конструкторских работах индустриальных
                                партнеров, зачастую решая важные для бизнеса задачи и выполняя функции системной интеграции.
                            </p>
                            <button class="btn btn__filled btn__filled--sm btn--tooltip">Портфолио
                                работ<span>В разработке</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        methods: {
            click() {
                this.$store.commit('changeModalOpen', this.$store.state.modalTypes.staff)
            }
        }
    }
</script>

<style scoped lang="less">
    .cooperation {

    &__heading {
         font-family: 'Graphik LC Web', "Helvetica Neue", Helvetica, Arial, sans-serif;
         font-size: 28px;
         color: #122a51;
         font-weight: 500;
         line-height: 34px;
         margin-bottom: 40px;
     }

    &__img {
         width: 100%;
         max-width: 470px;
         margin: 0 auto 22px;
         display: block;
     }

    &__title {
         font-family: 'Graphik LC Web', "Helvetica Neue", Helvetica, Arial, sans-serif;
         font-size: 17px;
         font-weight: 500;
         color: #42597d;
         margin-bottom: 7px;
     }

    &__text {
         font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
         font-size: 16px;
         line-height: 23px;
         color: #9299a6;
     }

    &__info {
         margin-bottom: 40px;
     }

    @media (min-width: 768px) {

    &__heading {
        font-size: 30px;
        line-height: 36px;
    }

    &__info {
         padding-top: 20px;
     }

    &__title {
         font-size: 18px;
         line-height: 25px;
     }

    &__img {
         margin: 0 auto 100px;
     }
    }

    @media (min-width: 1024px) {

    &__heading {
        font-size: 36px;
        line-height: 42px;
    }

    &__title {
         font-size: 22px;
         line-height: 32px;
     }
    }

    @media (min-width: 1200px) {

    }
    }

</style>