<template>
    <section>
        <div class="info-go-to">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-12 col-lg-8">
                        <h2 class="info-go-to__title">Поступить в ИМИС</h2>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <n-link :to="{name: 'entry-baccalaureate-and-specialty', hash: '#anchor-how-enter'}" class="info-go-to__link" @click="addAnchorHow">Как поступить в
                            институт
                        </n-link>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                        <p class="info-go-to__text">
                            Институт математики и информационных систем традиционно обеспечивает высокое качество
                            образования.
                            Мы сохраняем уверенность в исключительной важности фундаментальных знаний и дополняем их
                            востребованными рынком практическими навыками.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </section>
</template>

<script>
    export default {
        methods: {
            addAnchorHow() {
                console.log('addAnchorHow');
            }
        }
    }
</script>

<style scoped lang="less">
    .info-go-to {
        padding-top: 100px;

        &__title {
            color: #122a51;
            font-family: 'Graphik LC Web', "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 28px;
            line-height: 34px;
            font-weight: 500;
            margin-bottom: 20px;
        }

        &__text {
            font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 16px;
            color: #9299a6;
            line-height: 23px;
            margin-bottom: 30px;
        }

        &__link {
            font-family: 'Graphik LC Web', "Helvetica Neue", Helvetica, Arial, sans-serif;
            display: flex;
            align-items: center;
            line-height: 32px;
            font-size: 16px;
            color: #0a70c9;
            font-weight: 600;
            margin-bottom: 30px;

            &:after {
                content: '';
                display: inline-block;
                width: 13px;
                height: 10px;
                background-image: url('/svg/arrow.svg');
                background-repeat: no-repeat;
                background-size: contain;
                margin-left: 20px;
            }

            &:focus,
            &:active,
            &:hover {
                text-decoration: none;
            }
        }

        .row {
            display: flex;
            flex-direction: column;

            .col-xs-12:nth-child(1) {
                order: 1;
            }

            .col-xs-12:nth-child(2) {
                order: 3;
            }

            .col-xs-12:nth-child(3) {
                order: 2;
            }
        }

        @media (min-width: 768px) {

            .row {
                display: block;
            }

            &__link {
                margin-bottom: 0;
            }
        }
        @media (min-width: 1024px) {
            padding-bottom: 10px;

            &__title {
                font-size: 36px;
                line-height: 42px;
            }

            .row {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
            }

            &__link {
                background-color: #f5f8fb;
                padding: 0 30px;
                justify-content: space-between;
                line-height: 71px;
                white-space: nowrap;
            }

        }
        @media (min-width: 1200px) {
            &__link {
                padding: 0 50px;
            }
        }
    }
</style>