<template>
    <section>
        <div class="map-legend__wrap">
            <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A48645c9679d8a5de2e9636005381a106c909144462dd1a6ef3e36f955e8132dd&amp;source=constructor" width="100%" height="400" frameborder="0"></iframe>
            <div class="map-legend__inner">
                <div class="map-legend">
                    <p class="map-legend__item map-legend__item--blue">Университет и корпуса</p>
                    <p class="map-legend__item map-legend__item--cyan">Общежития</p>
                    <!--<p class="map-legend__item map-legend__item&#45;&#45;green">Парк и Скверы</p>-->
                    <p class="map-legend__item map-legend__item--orange">Спортивные объекты</p>
                    <!--<p class="map-legend__item map-legend__item&#45;&#45;pink">Заведения</p>-->
                    <!--<p class="map-legend__item map-legend__item&#45;&#45;red">Транспортные узлы</p>-->
                </div>
            </div>
        </div>

    </section>
</template>

<script>
    export default {
    }
</script>

<style scoped lang="less">
    .map-legend {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 25px 55px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;

    &__wrap {
         position: relative;
         margin-bottom: 60px;
     }

    &__inner {
         pointer-events: none;
     }

    &__item {
         font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
         font-size: 16px;
         color: #444444;
         line-height: 20px;
         margin-bottom: 10px;

    &:before {
         content: '';
         display: inline-block;
         width: 10px;
         height: 10px;
         border-radius: 50%;
         margin-right: 20px;
     }

    &--blue:before {
         background-color: #0f54b9;
     }

    &--cyan:before {
         background-color: #559de6;
     }

    &--green:before {
         background-color: #86bf4d;
     }

    &--orange:before {
         background-color: #f29655;
     }

    &--pink:before {
         background-color: #f27d72;
     }

    &--red:before {
         background-color: #f13674;
     }
    }

    @media (min-width: 768px) {
        padding: 25px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

    &__item {
         width: 30%;
     }

    &__wrap {
         margin-bottom: 80px;
     }
    }
    @media (min-width: 1024px) {
        width: 330px;
        right: 30px;
        left: auto;
        top: 0;
        align-items: center;
        padding: 60px;
        display: block;

    &__inner {
         width: 960px;
         position: absolute;
         top: 0;
         bottom: 0;
         height: 100%;
         margin: 0 auto;
         left: 0;
         right: 0;
     }

    &__item {
         width: 100%;
     }
    }
    @media (min-width: 1200px) {

    }
    }

</style>