<template>
    <section>
        <div class="map-info">
            <div class="container">
                <h2 class="map-info__title">Где будет проходить обучение?</h2>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                        <p class="map-info__text">
                            Студенты ИМИС проходят обучение в условиях хорошего материально-технического обеспечения: дисплейные
                            классы, лекционные аудитории, лаборатории. Учебные корпуса компактно сосредоточены в самом центре
                            города. Иногородним студентам предоставляются комфортабельные общежития.
                        </p>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <p class="map-info__note">Для студентов работает <a target="_blank"
                                                                            href="https://www.vyatsu.ru/sotrudniku/doska/lager-luch.html"
                                                                            class="map-info__link">загородный лагерь «Луч»</a> и
                            университетский <a target="_blank"
                                               href="https://www.vyatsu.ru/nash-universitet/trudoustroystvo-1/uvlecheniya/sanatorno-kurortnoe-lechenie.html"
                                               class="map-info__link">профилакторий</a></p>
                    </div>
                </div>
            </div>
        </div>

    </section>
</template>

<script>
    export default {
    }
</script>

<style scoped lang="less">
    .map-info {

        &__title {
            font-family: 'Graphik LC Web', "Helvetica Neue", Helvetica, Arial, sans-serif;
            line-height: 34px;
            font-size: 28px;
            font-weight: 500;
            color: #122a51;
            margin-bottom: 20px;
        }

        &__text {
            font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 16px;
            line-height: 23px;
            color: #9299a6;
        }

        &__note {
            font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 16px;
            color: #444444;
            padding: 10px 15px;
            border-left: 3px solid #3e8bfc;
        }

        &__link {
            font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
            color: #0a70c9;
            text-decoration: underline;
        }

        @media (min-width: 768px) {

            &__title {
                line-height: 36px;
                font-size: 30px;
            }
        }

        @media (min-width: 1024px) {

            &__note {
                margin-bottom: 40px;
            }

            &__title {
                line-height: 42px;
                font-size: 36px;
            }
        }

        @media (min-width: 1200px) {

        }
    }

</style>