<template>
    <section>
        <div class="news">
            <div class="container">
                <h2 class="news__heading">Новости</h2>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
                        <div class="news__card news__card--full">
                            <img class="news__img" src="/images/news.jpg" alt="">
                            <div>
                                <p class="news__title">Студенты ВятГУ прошли во второй отборочный этап международной олимпиады «IT-Планета 2018/19»</p>
                                <p class="news__subtitle">Подведены итоги первого отборочного этапа Международной олимпиады в сфере информационных технологий «IT-Планета 2018/19».</p>
                                <p class="news__date">9 марта 2019</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                        <div class="news__card">
                            <p class="news__title">Участвуйте в олимпиаде по биологии – получайте дополнительные баллы при поступлении в ВятГУ</p>
                            <p class="news__date">9 марта 2019</p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                        <div class="news__card">
                            <p class="news__title">Участвуйте в олимпиаде по биологии – получайте дополнительные баллы при поступлении в ВятГУ</p>
                            <p class="news__date">9 марта 2019</p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 hidden-md col-lg-4">
                        <div class="news__card">
                            <p class="news__title">Участвуйте в олимпиаде по биологии – получайте дополнительные баллы при поступлении в ВятГУ</p>
                            <p class="news__date">9 марта 2019</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</template>

<script>
    export default {
    }
</script>

<style scoped lang="less">
    .news {
        margin-bottom: 60px;

        &__heading {
            font-family: 'Graphik LC Web', "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 28px;
            line-height: 34px;
            color: #122a51;
            font-weight: 500;
        }

        &__card {
            border: 1px solid #f0f3f4;
            border-radius: 4px;
            margin-bottom: 10px;
            padding: 20px;
        }

        &__img {
            display: none;
        }

        &__title {
            font-family: 'Graphik LC Web', "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 16px;
            line-height: 22px;
            color: #222222;
            font-weight: 500;
        }

        &__subtitle {
            display: none;
        }

        &__date {
            font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 14px;
            color: #9299a6;
            line-height: 20px;
            margin-bottom: 0;
        }

        @media (min-width: 768px) {
            margin-bottom: 90px;

            &__heading {
                font-size: 30px;
                line-height: 36px;
            }
        }

        @media (min-width: 1024px) {

            &__heading {
                font-size: 36px;
                line-height: 42px;
            }

            &__title {
                margin-bottom: 30px;
            }

            &__subtitle {
                display: block;
                font-size: 16px;
                color: #9299a6;
                line-height: 23px;
            }

            &__card {
                padding: 0;
                border: none;
                margin-bottom: 50px;

                &--full {
                    display: flex;
                    align-items: flex-start;

                    .news__title {
                        font-size: 22px;
                        line-height: 30px;
                        margin-bottom: 15px;
                    }

                    .news__subtitle {
                        margin-bottom: 60px;
                    }
                }
            }

            &__img {
                display: block;
                width: 530px;
                height: 276px;
                object-fit: cover;
                margin-right: 30px;
                border-radius: 4px;
            }
        }

        @media (min-width: 1200px) {

            &__img {
                width: 758px;
                height: 320px;
                margin-right: 40px;
            }
        }
    }

</style>