<template>
    <section>
        <div class="top-screen">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
                        <h1 class="top-screen__title">Выбираешь куда пойти учиться?</h1>
                        <p class="top-screen__text">
                            Пройди тест и узнай, кто ты из вселенной IT-сериалов и какое направление тебе больше подходит.
                        </p>
                        <button class="top-screen__btn btn btn__filled" @click="click()">Пройти тест</button>
                    </div>
                </div>
            </div>
        </div>

    </section>
</template>

<script>
    export default {
        methods: {
            click() {
                this.$store.commit('changeModalOpen', this.$store.state.modalTypes.test)
            }
        }
    }
</script>

<style scoped lang="less">
    .top-screen {
        background-color: #f5f8fb;
        background-image: url("/images/man.png");
        background-position: left bottom;
        background-repeat: no-repeat;
        background-size: 460px;
        padding-top: 70px;
        padding-bottom: 400px;

    &__title {
         font-size: 34px;
         color: #122a51;
         font-family: 'Graphik LC Web', "Helvetica Neue", Helvetica, Arial, sans-serif;
         font-weight: 500;
         line-height: 38px;
         margin-bottom: 20px;
         text-align: center;
     }

    &__text {
         color: #42597d;
         font-size: 16px;
         margin-top: 0;
         line-height: 23px;
         font-family: 'Graphik LC Web', "Helvetica Neue", Helvetica, Arial, sans-serif;
         font-weight: 400;
         text-align: center;
     }

    &__btn {
         display: block;
         margin: 0 auto;
     }

    @media (min-width: 768px) {
        padding-top: 160px;
        padding-bottom: 90px;
        background-position: right -100px bottom;

    &__title {
         text-align: left;
         font-size: 40px;
         line-height: 44px;
     }

    &__text {
         text-align: left;
         margin-bottom: 30px;
     }

    &__btn {
         margin-left: 0;
     }
    }
    @media (min-width: 1024px) {
        background-position-y: bottom;
        background-position-x: 50vw;
        background-size: auto;
        padding-top: 230px;
        padding-bottom: 110px;

    &__title {
         font-size: 46px;
         line-height: 50px;
     }

    }
    @media (min-width: 1200px) {
        padding-top: 230px;
        background-position-x: 45vw;
    }
    }

</style>