<template>
    <section>
        <div id="anchor-diagrams"></div>
        <div class="diagram" v-for="(direction, index) in list" :key="index"
             :class="{'active': +direction.id === +$route.params.id}">
            <div class="container">
                <div class="content">
                    <img class="bg hidden-xs hidden-sm" :src="direction.bg" alt="">

                    <div class="row">
                        <div class="part-left col-xs-12 col-sm-12 col-md-4 col-lg-5">
                            <div class="title">
                                Характеристика направления
                            </div>
                        </div>

                        <div class="part-right col-xs-12 col-sm-12 col-md-8 col-lg-7">
                            <div class="holder-img-diagram">
                                <img class="img-diagram" :src="direction.img" alt="">
                                <button class="detail-diagram btn btn__filled--white hidden-sm hidden-md hidden-lg"
                                        @click="viewRose(direction.img)">
                                    Посмотреть Розу
                                </button>
                            </div>
                            <div class="info" v-html="direction.info"></div>
                            <!--<button class="detail-program btn btn__filled">Посмотреть программу</button>-->
                        </div>
                    </div>
                </div>
            </div>

            <Calculation :ball="+direction.ball"></Calculation>
        </div>

        <div class="view-rose" v-if="imgRose">
            <div class="closer" @click="viewRose('')">×</div>
            <div class="content">
                <img class="img" :src="imgRose" alt="">
            </div>
        </div>

    </section>
</template>

<script>
    import Calculation from '~/components/pages/entry/Calculation.vue'

    export default {
        components: {
            Calculation,
        },
        data() {
            return {
                imgRose: '',
                list: this.$store.getters.getDirectionsList,
            }
        },
        methods: {
            viewRose(img) {
                this.imgRose = img;
            }
        }
    }
</script>

<style scoped lang="less">
    .diagram {
        background-color: white;
        display: none;

        &.active {
            display: block;
        }

        .content {
            padding: 100px 0;
            position: relative;

            @media (max-width: 1023px) {
                padding: 80px 0;
            }

            @media (max-width: 767px) {
                padding: 60px 0;
            }

            .bg {
                position: absolute;
                left: -400px;
                width: 850px;
                bottom: 0;

                @media (max-width: 1199px) {
                    left: -550px;
                }
            }

            .part-left {
                .title {
                    font-family: 'Graphik LC Web', "Helvetica Neue", Helvetica, Arial, sans-serif;
                    font-size: 36px;
                    font-weight: 500;
                    line-height: 1.17;
                    color: #122a51;

                    @media (max-width: 1023px) {
                        font-size: 30px;
                        margin-bottom: 30px;
                    }

                    @media (max-width: 767px) {
                        font-size: 28px;
                    }
                }
            }

            .part-right {
                .holder-img-diagram {
                    width: 100%;
                    border-radius: 6px;
                    border: solid 1px #f0f0f3;
                    overflow: hidden;

                    @media (max-width: 767px) {
                        position: relative;
                        height: 320px;
                        background-image: url("/images/diagrams/roses/mobi.jpg");
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: 50% 50%;
                        background-color: #7fb3fe;
                    }

                    .img-diagram {
                        display: block;
                        margin: 0 auto;
                        max-width: 100%;

                        @media (max-width: 767px) {
                            display: none;
                        }
                    }

                    .detail-diagram {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        z-index: 1;
                        line-height: 44px;
                        font-size: 14px;
                    }
                }

                .info {
                    margin-top: 39px;
                    font-size: 16px;
                    line-height: 1.44;
                    color: #9299a6;
                    height: 350px;

                    @media (max-width: 1023px) {
                        height: auto;
                    }

                    @media (max-width: 767px) {
                        margin-top: 34px;
                    }
                }

                .detail-program {
                    display: block;
                    margin-top: 47px;
                    line-height: 44px;

                    @media (max-width: 1023px) {
                        margin: 37px auto 0;
                    }
                }
            }
        }
    }

    .view-rose {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 201;

        .closer {
            position: absolute;
            z-index: 203;
            font-size: 30px;
            top: 20px;
            right: 20px;
            color: #929292;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(0, 0, 0, 0.2);
            border-radius: 100%;
            cursor: pointer;
        }

        .content {
            position: relative;
            z-index: 202;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            .img {
                max-width: 100%;
                max-height: 100%;
            }
        }
    }

</style>