<template>
    <section>
        <div class="tabs-content__wrap" id="tabs-content">
            <div class="container">
                <div class="tabs-content" :class="{'not-elements': !list.length}">
                    <n-link :to="{name: 'entry-baccalaureate-and-specialty-id', params: {id: item.id}, hash: '#anchor-diagrams'}"
                            class="tab-link"
                            v-if="list.length"
                            v-for="(item, index) in list"
                            :key="index"
                            :class="{'active': +$route.params.id === +item.id}">
                        <span class="text" v-html="item.text"></span>
                        <span class="subtext">{{item.code}}</span>
                    </n-link>

                    <div v-if="!list.length"
                         class="inDevelopment">
                        В данный момент раздел находится в разработке
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import {mapGetters} from 'vuex'

    export default {
        props: {
            init: Boolean,
        },
        data() {
            return {
                list: this.$store.getters.getDirectionsList
            }
        },
        computed: {
            ...mapGetters({
                systemHeadActive: 'getSystemHeadActive',
            }),
        },
        watch: {
            systemHeadActive: function () {
                this.list = this.$store.getters.getDirectionsList;
            }
        }
    }
</script>

<style scoped lang="less">
    .tabs-content {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;

        &.not-elements {
            display: block;
        }

        &__wrap {
            background-color: #f5f8fb;
            padding: 15px 0 60px;
        }

        @media (min-width: 768px) {
            grid-template-columns: 1fr 1fr;
        }
        @media (min-width: 1024px) {
            grid-gap: 20px;

            &__wrap {
                padding: 30px 0 110px;
            }
        }
        @media (min-width: 1200px) {
            grid-template-columns: 1fr 1fr 1fr;

            &__wrap {
                padding-bottom: 100px;
            }
        }

        .tab-link {
            font-family: 'Graphik LC Web', "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            color: #444444;
            background-color: #ffffff;
            border-radius: 4px;
            padding: 25px 20px;
            flex-direction: column;
            justify-content: space-between;
            display: block;
            height: 100%;
            width: 100%;
            border: none;
            text-align: start;
            outline: 0;

            &:hover {
                color: #23527c;
            }

            .text {
                text-align: left;
            }

            .subtext {
                font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
                display: block;
                font-size: 14px;
                color: #9299a6;
                margin-top: 15px;
            }

            &.active {
                background-color: #3e8bfc;
                color: white;

                .subtext {
                    color: #bbd2ff;
                }
            }

            &:hover,
            &:active,
            &:focus {
                text-decoration: none;
            }

            @media (min-width: 768px) {
                font-size: 17px;
                line-height: 23px;
                display: flex;
            }
            @media (min-width: 1024px) {
                padding: 40px;

            }
            @media (min-width: 1200px) {

            }
        }

        .inDevelopment {
            margin: 30px auto;
            font-size: 25px;
            text-align: center;
            color: #898989;
        }
    }

</style>