<template>
    <section v-if="list.length">
        <div class="fixed-tabs" ref="show">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-10">
                        <div class="js-fixed-tabs owl-theme owl-carousel">
                            <n-link :to="{name: 'entry-baccalaureate-and-specialty-id', params: {id: item.id}, hash: '#anchor-diagrams'}"
                                    v-for="(item, index) of list" :key="index" class="tab-link">
                                <span class="text" v-html="item.text"></span>
                                <span class="tab-link__subtext">{{item.code}}</span>
                            </n-link>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import {mapGetters} from 'vuex'
    import TabsFixedCarousel from '~/static/js/components/tabsFixedCarousel.js'

    export default {
        data() {
            return {
                show: true,
                list: this.$store.getters.getDirectionsList,
            }
        },
        computed: {
            ...mapGetters({
                systemHeadActive: 'getSystemHeadActive',
            }),
            activeId() {
                return this.$route.params.id;
            }
        },
        watch: {
            systemHeadActive: function () {
                this.list = this.$store.getters.getDirectionsList;
            },
            activeId: function () {
                if (this.activeId) {
                    $('.js-fixed-tabs').trigger('to.owl.carousel', this.activeId);
                }
            }
        },
        beforeMount() {
            window.addEventListener('scroll', () => {
                if (this.$refs.show) {
                    const tabsContent = document.getElementById('tabs-content');
                    if (window.pageYOffset > tabsContent.offsetTop + tabsContent.offsetHeight / 2) {
                        this.$refs.show.classList.add('show');
                    } else {
                        this.$refs.show.classList.remove('show');
                    }
                }
            }, true);
        },
        mounted() {
           new TabsFixedCarousel();
        },
        updated() {
            new TabsFixedCarousel();
        },
    }
</script>

<style scoped lang="less">

</style>