<template>
    <section>
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="footer__logo">ИМИС</div>
                        <p class="footer__copyright">© 2019 Институт математикии<br> и&nbsp;информационных систем</p>
                    </div>
                    <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
                        <ul class="footer__menu">
                            <li><n-link class="footer__menu-link" :to="{name: 'entry-baccalaureate-and-specialty'}">Поступить</n-link></li>
                            <li><n-link class="footer__menu-link" :to="{name: 'index', hash: '/#anchor-career'}" @click="scrollToCareer">Карьера</n-link></li>
                            <li><a class="footer__menu-link btn--tooltip btn--tooltip">Учеба<span>В разработке</span></a></li>
                        </ul>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                        <ul class="footer__menu">
                            <li><a class="footer__menu-link btn--tooltip btn--tooltip">Об институте<span>В разработке</span></a></li>
                            <li><a class="footer__menu-link btn--tooltip btn--tooltip">Сотрудничать<span>В разработке</span></a></li>
                            <li><a class="footer__menu-link btn--tooltip btn--tooltip">Контакты<span>В разработке</span></a></li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                        <a class="footer__phone">+7 (8332) 742-521</a>
                        <p class="footer__text">приемная комиссия</p>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <p class="footer__copyright--mobile">© 2019 Институт математикии<br>и информационных систем</p>
                    </div>
                </div>
            </div>
        </div>

    </section>
</template>

<script>
    export default {
        methods: {
            scrollToCareer() {
                console.log('scrollToCareer');
            }
        }
    }
</script>

<style scoped lang="less">
    .footer {
        background-color: #232731;
        text-align: center;
        padding-top: 70px;
        padding-bottom: 50px;

        &__logo {
            background-image: url('/svg/logo_white.svg');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: left center;
            font-family: 'Graphik LC Web', "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 20px;
            color: #ffffff;
            width: 140px;
            height: 42px;
            margin: 0 auto 40px;
            text-align: left;
            text-indent: 70px;
            line-height: 42px;
        }

        &__menu {
            padding-left: 20px;
            margin-top: 0;
            text-align: left;
            list-style: none;
            margin-bottom: 30px;

            li {
                margin-bottom: 15px;
            }

            &-link {
                font-size: 16px;
                color: #5e6475;

                &:hover,
                &:active,
                &:focus {
                    text-decoration: none;
                }
            }
        }

        &__phone {
            font-family: 'Graphik LC Web', "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 20px;
            color: #ffffff;
            font-weight: 500;

            &:hover,
            &:focus,
            &active {
                color: #ffffff;
                text-decoration: none;
            }
        }

        &__text {
            font-family: 'Graphik LC Web', "Helvetica Neue", Helvetica, Arial, sans-serif;
            color: #ffffff;
            font-size: 14px;
            margin-bottom: 35px;
        }

        &__copyright {
            font-size: 14px;
            color: #5e6475;
            display: none;

            &--mobile {
                font-size: 14px;
                color: #5e6475;
            }
        }

        @media (min-width: 768px) {
            padding-top: 80px;
            padding-bottom: 90px;

            &__logo {
                margin: 0 0 30px;
            }

            &__phone {
                letter-spacing: -0.2px;
            }

            &__copyright {
                display: block;
                text-align: left;

                &--mobile {
                    display: none;
                }
            }
        }
        @media (min-width: 1024px) {
            padding-bottom: 70px;
            text-align: left;

            &__logo {
                margin: 0 0 40px;
            }
        }
        @media (min-width: 1200px) {
            padding-bottom: 80px;

        }
    }

</style>