<template>
    <section>
        <div class="header" :class="color">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-5">
                        <div class="header__inner">
                            <n-link :to="{name: 'index'}" class="header__logo" :class="color">ИМИС</n-link>
                            <button class="header__menu-btn" @click="menuOpen()">
                                <span></span>
                            </button>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-7">
                        <div class="header__mobile-wrap" :class="{'active': open}">
                            <div class="header__mobile-top">
                                <div class="header__mobile-logo">ИМИС</div>
                                <button class="header__btn-close" @click="menuClose()"></button>
                            </div>
                            <div class="header__menu">
                                <n-link :to="{name: 'entry-baccalaureate-and-specialty'}" class="header__menu-link" :class="color">Поступить</n-link>
                                <n-link :to="{name: 'index', hash: '#anchor-career'}" class="header__menu-link" :class="color" @click="scrollToCareer()">Карьера</n-link>
                                <a class="header__menu-link btn--tooltip" :class="color">Учеба<span>В разработке</span></a>
                                <a class="header__menu-link btn--tooltip" :class="color">Об институте<span>В разработке</span></a>
                                <a class="header__menu-link btn--tooltip" :class="color">Сотрудничать<span>В разработке</span></a>
                                <a class="header__menu-link btn--tooltip" :class="color">Контакты<span>В разработке</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import { mapGetters } from 'vuex'

    export default {
        computed: {
            ...mapGetters({
                color: 'getMainColor'
            }),
            open() {
                return false;
            }
        },
        methods: {
            menuOpen() {
                console.log('menuOpen');
            },
            menuClose() {
                console.log('menuClose');
            },
            scrollToCareer() {
                console.log('scrollToCareer');
            }
        }
    }
</script>

<style scoped lang="less">
    .header {
        background-color: #f5f8fb;
        padding-top: 35px;
        position: relative;

        &.blue {
            background-color: #3e8bfc;
        }

        &__logo {
            height: 41px;
            width: 170px;
            flex-shrink: 0;
            display: block;
            background-image: url('/svg/logo.svg');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: left center;
            font-size: 20px;
            color: #0f54b9;
            text-indent: 80px;
            font-family: 'Graphik LC Web', "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-weight: 500;
            line-height: 41px;

            &:active,
            &:hover,
            &:focus {
                text-decoration: none;
            }

            &.blue {
                background-image: url('/svg/logo_white.svg');
                color: white;
            }
        }

        &__mobile {

            &-top {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 50px;
            }

            &-logo {
                background-image: url('/svg/logo_white.svg');
                background-repeat: no-repeat;
                background-size: contain;
                background-position: left center;
                font-family: 'Graphik LC Web', "Helvetica Neue", Helvetica, Arial, sans-serif;
                font-size: 20px;
                color: #ffffff;
                width: 140px;
                height: 42px;
                text-align: left;
                text-indent: 70px;
                line-height: 42px;
            }

            &-wrap {
                background-color: #3e8bfc;
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                display: none;
                z-index: 20;
                padding: 35px 15px 20px;

                @media (max-width: 1023px) {
                    &.active {
                        display: block;
                    }
                }
            }
        }

        &__btn-close {
            display: block;
            width: 26px;
            height: 26px;
            border: none;
            background-color: transparent;
            position: relative;
            padding: 0;

            &:before,
            &:after {
                content: '';
                display: block;
                width: 2px;
                height: 21px;
                background-color: #ffffff;
                position: absolute;
                top: 3px;
                padding: 0;
                margin: 0 auto;
                left: 0;
                right: 0;
            }

            &:after {
                transform: rotate(45deg);
            }

            &:before {
                transform: rotate(-45deg);
            }
        }

        &__inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__menu {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            text-align: center;

            &-link {
                font-family: 'Graphik LC Web', "Helvetica Neue", Helvetica, Arial, sans-serif;
                font-weight: 400;
                display: block;
                text-decoration: none;
                line-height: 41px;
                font-size: 20px;
                color: #fefefe;

                &:active,
                &:hover,
                &:focus {
                    text-decoration: none;
                }

                &.blue {
                    color: white;
                }
            }

            &-btn {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 30px;
                height: 24px;
                border: none;
                background-color: transparent;
                padding: 5px;

                &:after,
                &:before {
                    content: '';
                    display: block;
                    height: 2px;
                    width: 20px;
                    background-color: #42597d;
                }

                span {
                    display: block;
                    height: 2px;
                    width: 20px;
                    background-color: #42597d;
                }

                &:active,
                &:focus {
                    outline: none;
                }
            }
        }

        @media (min-width: 768px) {
            padding-top: 45px;
            &__mobile-top {
                max-width: 744px;
                margin: 0 auto 50px;
            }
        }
        @media (min-width: 1024px) {
            padding-top: 50px;

            &__mobile {

                &-top {
                    display: none;
                }

                &-wrap {
                    display: block;
                    position: relative;
                    background-color: transparent;
                    padding: 0;
                }
            }

            &__menu {
                flex-direction: row;

                &-btn {
                    display: none;
                }

                &-link {
                    font-size: 16px;
                    color: #42597d;
                }
            }
        }
        @media (min-width: 1200px) {

        }
    }

</style>