<template>
    <section>
        <div class="tabs-head" :class="color">
            <div class="container">
                <div class="tabs-head__inner">
                    <button class="tabs-head__btn"
                            :class="[color,{'active': systemHeadActive === $store.state.systems.bacAndSpec || !systemHeadActive}]"
                            @click="onClick($store.state.systems.bacAndSpec)">
                        Бакалавриат и специалитет
                    </button>
                    <button class="tabs-head__btn"
                            :class="[color,{'active': systemHeadActive === $store.state.systems.magistracy}]"
                            @click="onClick($store.state.systems.magistracy)">
                        Магистратура
                    </button>
                    <button class="tabs-head__btn"
                            :class="[color,{'active': systemHeadActive === $store.state.systems.postgraduate}]"
                            @click="onClick($store.state.systems.postgraduate)">
                        Аспирантура
                    </button>
                </div>
            </div>
        </div>

    </section>
</template>

<script>
    import {mapGetters} from 'vuex'

    export default {
        props: {
            init: Boolean
        },
        computed: {
            ...mapGetters({
                color: 'getMainColor',
                systemHeadActive: 'getSystemHeadActive'
            })
        },
        methods: {
            onClick(systemHead) {
                this.$store.commit('changeSystemHeadActive', systemHead);
                if (this.init) {
                    this.$router.push({name: 'entry-' + systemHead})
                }
            }
        },
    }
</script>

<style scoped lang="less">
    .tabs-head {

        &.blue {
            background-color: #3e8bfc;
            border-top: 1px solid white;
        }

        &__btn {
            display: inline-block;
            color: #444444;
            font-size: 17px;
            background-color: transparent;
            border: none;
            border-bottom: 4px solid transparent;
            font-family: 'Graphik LC Web', "Helvetica Neue", Helvetica, Arial, sans-serif;
            line-height: 24px;
            padding: 0 0 20px;
            margin-right: 20px;
            font-weight: 500;

            &:last-child {
                margin-right: 0;
            }

            &:focus,
            &:active {
                outline: none;
            }

            &.active {
                border-bottom: 4px solid #3e8bfc;
            }

            &.blue {
                color: #87afff;
                padding: 34px 0;

                @media (max-width: 1023px) {
                    padding: 30px 0;
                }

                @media (max-width: 767px) {
                    padding: 25px 0;
                }

                &.active {
                    border-bottom: none;
                    color: white;
                    border-top: 3px solid white;
                }
            }
        }

        &__inner {
            white-space: nowrap;
            overflow-x: auto;
        }

        @media (min-width: 768px) {

            &__btn {
                font-size: 18px;
                line-height: 25px;
                margin-right: 35px;
            }
        }
        @media (min-width: 1024px) {

            &__btn {
                font-size: 22px;
                line-height: 32px;
                margin-right: 28px;
            }
        }
        @media (min-width: 1200px) {

        }
    }

</style>