<template>
    <section>
        <div class="calculation">
            <div class="container">
                <h2 class="title">Оцени свои шансы</h2>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                        <div class="block first">
                            <div class="block-calc-title">Калькулятор ЕГЭ</div>
                            <div class="block-calc-label">Введите результаты ЕГЭ и получите ответ</div>
                            <form class="calc-form" @submit.prevent="onSubmit">
                                <div class="inputs">

                                    <div class="field">
                                        <label class="input-group">
                                            <input type="text" class="input-calculation"
                                                   name="first"
                                                   @focus="first.focus = true" @blur="first.focus = false"
                                                   v-model="first.valueView">
                                            <span class="for-input-calculation" :class="{'up': first.valueView || first.focus}">
                                    Балл 1-ого предмета
                                </span>
                                        </label>
                                        <!--<app-zform-error [error]="zform.f.first.error"></app-zform-error>-->
                                    </div>

                                    <div class="field">
                                        <label class="input-group">
                                            <input type="text" class="input-calculation"
                                                   name="second"
                                                   @focus="second.focus = true" @blur="second.focus = false"
                                                   v-model="second.valueView">
                                            <span class="for-input-calculation" :class="{'up': second.valueView || second.focus}">
                                    Балл 2-ого предмета
                                </span>
                                        </label>
                                        <!--<app-zform-error [error]="zform.f.second.error"></app-zform-error>-->
                                    </div>

                                    <div class="field">
                                        <label class="input-group">
                                            <input type="text" class="input-calculation"
                                                   name="third"
                                                   @focus="third.focus = true" @blur="third.focus = false"
                                                   v-model="third.valueView">
                                            <span class="for-input-calculation" :class="{'up': third.valueView || third.focus}">
                                    Балл 3-его предмета
                                </span>
                                        </label>
                                        <!--<app-zform-error [error]="zform.f.third.error"></app-zform-error>-->
                                    </div>

                                </div>

                                <button class="btn btn__filled--gray hidden-md hidden-sm hidden-xs">Узнать результаты</button>
                                <button class="btn btn__filled--gray hidden-lg">Результаты</button>
                            </form>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                        <div class="block second">
                            <div class="block-calc-title">Средний балл</div>
                            <div class="block-content">
                                <div class="total-ball">
                                    <div class="count" :class="{'good': average && good, 'bad': average && !good}">{{average}}</div>
                                    <div class="text">
                                        <span v-if="!average">Введите результат ЕГЭ в форму</span>
                                        <span v-if="average && good">Поздравляем, вероятно ты поступишь</span>
                                        <span v-if="average && !good">Можно надеяться на удачу или проверить другие направления</span>
                                    </div>
                                </div>
                                <div class="verdict" v-if="average">Средний бал прошлого года - <span class="bold">{{ball}}</span></div>
                                <a v-if="average" target="_blank"
                                   href="https://www.vyatsu.ru/abiturientu/kak-postupit-v-vyatgu/podgotovitel-nyie-kursyi.html"
                                   class="btn btn__bordered">Boost Me</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</template>

<script>
    export default {
        props: {
            ball: Number
        },
        data() {
            return {
                average: 0,
                good: false,

                first: {
                    valueView: '',
                    focus: false,
                },
                second: {
                    valueView: '',
                    focus: false,
                },
                third: {
                    valueView: '',
                    focus: false,
                },
            }
        },
        methods: {
            onSubmit() {
                const total =
                    (+this.first.valueView) +
                    (+this.second.valueView) +
                    (+this.third.valueView);

                this.average = +(total / 3).toFixed(0);
                this.good = this.average >= this.ball;
            }
        }
    }
</script>

<style scoped lang="less">
    .calculation {
        background-color: #f5f8fb;
        padding: 100px 0;

        @media (max-width: 1023px) {
            padding: 80px 0;
        }

        @media (max-width: 767px) {
            padding: 60px 0;
        }

        .title {
            margin-bottom: 55px;
            font-family: 'Graphik LC Web', "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 36px;
            font-weight: 500;
            line-height: 1.17;
            color: #122a51;

            @media (max-width: 1023px) {
                font-size: 30px;
            }

            @media (max-width: 767px) {
                font-size: 28px;
            }
        }

        .block {
            height: 342px;
            padding: 50px;
            background-color: white;

            @media (max-width: 1199px) {
                height: auto;
            }

            @media (max-width: 1023px) {
                padding: 40px 30px;
            }

            @media (max-width: 767px) {
                padding: 40px 20px;
            }

            .block-calc-title {
                font-family: 'Graphik LC Web', "Helvetica Neue", Helvetica, Arial, sans-serif;
                font-size: 22px;
                color: #42597d;
                font-weight: 500;

                @media (max-width: 1023px) {
                    font-size: 18px;
                }

                @media (max-width: 767px) {
                    font-size: 17px;
                }
            }

            &.first {

                .block-calc-label {
                    font-size: 16px;
                    line-height: 1.44;
                    text-align: left;
                    color: #9299a6;
                    margin-top: 22px;

                    @media (max-width: 767px) {
                        margin-top: 15px;
                    }
                }

                .calc-form {
                    margin-top: 27px;

                    @media (max-width: 1199px) {
                        display: flex;
                    }

                    @media (max-width: 1023px) {
                        display: block;
                    }

                    @media (max-width: 767px) {
                        margin-top: 22px;
                    }

                    .inputs {
                        display: flex;

                        @media (max-width: 767px) {
                            flex-wrap: wrap;
                        }

                        .field {
                            margin-right: 20px;
                            width: 100%;

                            @media (max-width: 767px) {
                                margin-bottom: 10px;
                                margin-right: 0;
                            }

                            &:last-child {
                                margin-right: 0;

                                @media (max-width: 1199px) {
                                    margin-right: 20px;
                                }

                                @media (max-width: 1023px) {
                                    margin-right: 0;
                                }

                                @media (max-width: 767px) {
                                    margin-bottom: 0;
                                }
                            }

                            .input-group {
                                display: block;
                                position: relative;

                                @media (max-width: 767px) {
                                    flex: 0 0 100%;
                                }

                                .input-calculation {
                                    height: 60px;
                                    border-radius: 4px;
                                    border: solid 1px #dde1e6;
                                    font-size: 16px;
                                    line-height: 1.44;
                                    color: #122a51;
                                    padding-left: 24px;
                                    padding-top: 20px;
                                    width: 195px;

                                    @media (max-width: 1023px) {
                                        width: 100%;
                                    }
                                }

                                .for-input-calculation {
                                    position: absolute;
                                    left: 24px;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    font-size: 16px;
                                    line-height: 1.44;
                                    color: #9299a6;
                                    transition: all 300ms;
                                    pointer-events: none;

                                    &.up {
                                        font-size: 13px;
                                        line-height: 1.38;
                                        margin-top: -13px;
                                    }
                                }
                            }
                        }
                    }

                    .btn {
                        width: 250px;
                        margin-top: 29px;

                        @media (max-width: 1199px) {
                            margin-top: 0;
                            width: 195px;
                        }

                        @media (max-width: 1023px) {
                            margin: 20px auto 0;
                            display: block;
                        }

                        @media (max-width: 767px) {
                            margin-top: 15px;
                        }
                    }
                }
            }

            &.second {
                @media (max-width: 1199px) {
                    margin-top: 20px;
                }

                .block-content {
                    margin-top: 22px;

                    @media (max-width: 1199px) {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-top: 26px;
                    }

                    @media (max-width: 1023px) {
                        flex-wrap: wrap;
                    }

                    @media (max-width: 767px) {
                        display: block;
                    }

                    .total-ball {
                        display: flex;
                        align-items: center;

                        @media (max-width: 1023px) {
                            flex: 0 0 50%;
                        }

                        @media (max-width: 767px) {
                            justify-content: center;
                        }

                        .count {
                            font-family: 'Graphik LC Web', "Helvetica Neue", Helvetica, Arial, sans-serif;
                            font-size: 70px;
                            font-weight: bold;
                            line-height: 0.37;
                            margin-right: 19px;
                            margin-top: 14px;

                            &.good {
                                color: #13c20b;
                            }

                            &.bad {
                                color: #ce1415;
                            }

                            @media (max-width: 767px) {
                                font-size: 50px;
                                margin-right: 17px;
                            }
                        }

                        .text {
                            font-size: 16px;
                            line-height: 1.44;
                            color: #000000;
                            margin-right: -22px;

                            @media (max-width: 1199px) {
                                margin-right: 0;
                                width: 170px;
                            }

                            @media (max-width: 1023px) {
                                width: 220px;
                            }
                        }
                    }

                    .verdict {
                        margin-top: 26px;
                        font-size: 14px;
                        line-height: 1.43;
                        color: #9299a6;

                        @media (max-width: 1199px) {
                            margin-top: 0;
                        }

                        @media (max-width: 1023px) {
                            flex: 0 0 50%;
                            text-align: center;
                        }

                        @media (max-width: 767px) {
                            width: 152px;
                            text-align: center;
                            margin: 20px auto 0;
                        }

                        .bold {
                            font-weight: bold;
                        }
                    }

                    .btn {
                        width: 250px;
                        margin-top: 40px;
                        display: block;

                        @media (max-width: 1199px) {
                            margin-top: 0;
                            width: 195px;
                        }

                        @media (max-width: 1023px) {
                            margin: 22px auto 0;
                        }

                        @media (max-width: 767px) {
                            margin: 27px auto 0;
                        }
                    }
                }
            }
        }
    }

</style>