<template>
    <section>
        <div class="how-enter" id="anchor-how-enter">
            <div class="container">

                <h2 class="block-title">Как поступить?</h2>

                <div class="list">
                    <div class="item">
                        <div class="part-up">
                            <div class="icon icon-1"></div>
                            <div class="arrow"></div>
                        </div>
                        <div class="part-down">
                            <div class="title">
                                Выбери форму обучения
                                и направление подготовки
                            </div>
                            <div class="text">
                                <a target="_blank" href="https://www.vyatsu.ru/abiturientu/univers/dni-otkryityih-dverey-1/pravila-priema-grazhdan-v-fgbou-vo-vyatskiy-gosuda-25.html">Правила приема.</a> Подать заявление к нам можно только на 3 направления.
                                <a target="_blank" href="https://www.vyatsu.ru/abiturientu/univers/dni-otkryityih-dverey-1/kolichestvo-mest-dlya-priema-na-2019-20-uchebnyiy.html">Полный перечень</a>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="part-up">
                            <div class="icon icon-2"></div>
                            <div class="arrow"></div>
                        </div>
                        <div class="part-down">
                            <div class="title">
                                Проверь соответствие
                                требованиям направлений
                            </div>
                            <div class="text">
                                <a target="_blank" href="https://www.vyatsu.ru/abiturientu/univers/dni-otkryityih-dverey-1/vstupitel-nyie-ispyitaniya-i-minimal-nyie-ballyi-p-2.html">Требования</a>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="part-up">
                            <div class="icon icon-3"></div>
                            <div class="arrow"></div>
                        </div>
                        <div class="part-down">
                            <div class="title">
                                Подай заявление
                                в приемную комиссию
                            </div>
                            <div class="text">
                                <a target="_blank" href="https://www.vyatsu.ru/abiturientu/univers/dni-otkryityih-dverey-1/perechen-dokumentov-dlya-postupleniya-v-vyatgu-1.html">Перечень документов.</a> Подать можно в приемной комиссии
                                (г.Киров, ул. Московская 36)
                                и на <a target="_blank" href="https://www.vyatsu.ru">сайте</a> ВятГУ. <a target="_blank" href="https://www.vyatsu.ru/uploads/file/1809/v_informaciya_o_srokah_provedeniya_priema_(1).pdf">Сроки подачи документов</a>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="part-up">
                            <div class="icon icon-4"></div>
                            <div class="arrow"></div>
                        </div>
                        <div class="part-down">
                            <div class="title">
                                При успехе напиши согласие на ОДНО направление
                            </div>
                            <div class="text">
                                Подавать только
                                в приемной комиссии ВятГУ. <a target="_blank" href="https://www.vyatsu.ru/uploads/file/1809/v_informaciya_o_srokah_provedeniya_priema_(1).pdf">Сроки подачи согласия</a>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="part-up">
                            <div class="icon icon-5"></div>
                            <!--<div class="arrow"></div>-->
                        </div>
                        <div class="part-down">
                            <div class="title">
                                Жди результат
                                зачисления
                            </div>
                        </div>
                    </div>
                </div>

                <button class="btn btn__filled hidden-xs" @click="click">Остались вопросы?</button>

            </div>
        </div>

    </section>
</template>

<script>
    export default {
        methods: {
            click() {
                this.$store.commit('changeModalOpen', this.$store.state.modalTypes.feedback)
            }
        }
    }
</script>

<style scoped lang="less">
    .how-enter {
        padding: 100px 0;

        @media (max-width: 1023px) {
            padding: 80px 0;
        }

        @media (max-width: 767px) {
            padding: 60px 0;
        }

        .container {
            .block-title {
                font-family: 'Graphik LC Web', "Helvetica Neue", Helvetica, Arial, sans-serif;
                font-size: 36px;
                font-weight: 500;
                line-height: 1.17;
                color: #122a51;
                margin: 0;

                @media (max-width: 1023px) {
                    font-size: 30px;
                }

                @media (max-width: 767px) {
                    font-size: 28px;
                }
            }

            .list {
                margin-top: 54px;
                display: flex;

                @media (max-width: 1199px) {
                    margin-top: 52px;
                    justify-content: space-between;
                    flex-wrap: wrap;
                }

                @media (max-width: 1023px) {
                    margin: 35px 8.33%;
                }

                @media (max-width: 767px) {
                    display: block;
                }

                .item {
                    flex: 0 0 20%;

                    @media (max-width: 1199px) {
                        display: flex;
                        align-items: center;
                        flex: 0 0 460px;
                        margin-bottom: 40px;
                    }

                    @media (max-width: 1023px) {
                        flex: 0 0 100%;
                        margin-bottom: 30px;
                    }

                    @media (max-width: 767px) {
                        display: block;
                        margin-bottom: 40px;
                    }

                    &:last-child {
                        @media (max-width: 1199px) {
                            margin-bottom: 0;
                        }
                    }

                    .part-up {
                        display: flex;

                        @media (max-width: 1199px) {
                            display: block;
                            flex: 0 0 80px;
                            margin-right: 25px;
                        }

                        @media (max-width: 767px) {
                            display: block;
                            margin-right: 0;
                        }

                        .icon {
                            flex: 0 0 100px;
                            height: 100px;
                            background-repeat: no-repeat;
                            background-size: cover;
                            background-position: 50% 50%;

                            @media (max-width: 1199px) {
                                width: 100%;
                                height: 80px;
                            }

                            @media (max-width: 767px) {
                                margin: 0 auto;
                                width: 80px;
                            }

                            &.icon-1 {
                                background-image: url('/svg/icon01.svg');
                            }

                            &.icon-2 {
                                background-image: url('/svg/icon02.svg');
                            }

                            &.icon-3 {
                                background-image: url('/svg/icon03.svg');
                            }

                            &.icon-4 {
                                background-image: url('/svg/icon04.svg');
                            }

                            &.icon-5 {
                                background-image: url('/svg/icon05.svg');
                            }
                        }

                        .arrow {
                            width: 100%;
                            background-repeat: no-repeat;
                            background-size: 18px;
                            background-position: 50% 50%;
                            background-image: url('/svg/arrow_gray.svg');

                            @media (max-width: 1199px) {
                                display: none;
                            }
                        }
                    }

                    .part-down {
                        margin-top: 28px;

                        @media (max-width: 1199px) {
                            margin-top: 0;
                        }

                        @media (max-width: 767px) {
                            margin-top: 28px;
                        }

                        .title {
                            width: 85%;
                            font-family: 'Graphik LC Web', "Helvetica Neue", Helvetica, Arial, sans-serif;
                            font-size: 17px;
                            font-weight: 500;
                            line-height: 1.35;
                            color: #000000;

                            @media (max-width: 1199px) {
                                width: 100%;
                            }

                            @media (max-width: 1023px) {
                                font-size: 16px;
                            }

                            @media (max-width: 767px) {
                                text-align: center;
                            }
                        }

                        .text {
                            margin-top: 17px;
                            width: 85%;
                            font-size: 14px;
                            line-height: 1.43;
                            color: #9299a6;

                            @media (max-width: 1199px) {
                                margin-top: 10px;
                                width: 100%;
                            }

                            @media (max-width: 1023px) {
                                margin-top: 6px;
                            }

                            @media (max-width: 767px) {
                                margin-top: 10px;
                                text-align: center;
                            }

                            a {
                                color: #0a70c9;
                                text-decoration: underline;

                                &:hover {
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }
            }

            .btn {
                display: block;
                margin: 60px auto 0;
            }

            @media (max-width: 1199px) {
                margin-top: 50px;
            }
        }
    }

</style>