<template>
    <section>
        <div class="more-info">
            <div class="container">
                <h2 class="title">Больше о поступлении в ИМИС</h2>
                <div class="list">

                    <a href="#" class="item">
                        <div class="text">
                            Министерства науки и высшего
                            образования Российской
                            Федерации
                        </div>
                        <div class="link"></div>
                    </a>

                    <a href="#" class="item">
                        <div class="text">
                            Федеральная служба по надзору
                            в сфере образования и науки
                        </div>
                        <div class="link"></div>
                    </a>

                    <a href="#" class="item">
                        <div class="text">
                            Федеральный портал «Российское
                            образование»
                        </div>
                        <div class="link"></div>
                    </a>

                    <a href="#" class="item">
                        <div class="text">
                            Информационная система «Единое
                            окно доступа к образовательным
                            ресурсам»
                        </div>
                        <div class="link"></div>
                    </a>

                    <a href="#" class="item">
                        <div class="text">
                            Федеральный центр
                            информационно-образовательных
                            ресурсов
                        </div>
                        <div class="link"></div>
                    </a>

                    <a href="#" class="item">
                        <div class="text">
                            Информационно-образовательный
                            портал Кемеровского
                            государственного университета
                        </div>
                        <div class="link"></div>
                    </a>

                    <a href="#" class="item">
                        <div class="text">
                            Электронный каталог и базы
                            данных Научной библиотеки
                            КемГУ
                        </div>
                        <div class="link"></div>
                    </a>

                    <a href="#" class="item">
                        <div class="text">
                            Официальный сайт для размещения
                            информации о государственных
                            (муниципальных) учреждениях
                        </div>
                        <div class="link"></div>
                    </a>

                </div>
            </div>
        </div>

    </section>
</template>

<script>
    export default {
    }
</script>

<style scoped lang="less">
    .more-info {
        padding: 100px 0 140px;

        @media (max-width: 1199px) {
            padding: 100px 0;
        }

        @media (max-width: 1023px) {
            padding: 80px 0;
        }

        @media (max-width: 767px) {
            padding: 60px 0 70px;
        }

        .title {
            margin-bottom: 55px;
            font-family: 'Graphik LC Web', "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 36px;
            font-weight: 500;
            line-height: 1.17;
            color: #122a51;

            @media (max-width: 1023px) {
                font-size: 30px;
            }

            @media (max-width: 767px) {
                font-size: 28px;
            }
        }

        .list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 20px;

            @media (max-width: 1199px) {
                grid-template-columns: 1fr 1fr;
            }

            @media (max-width: 1023px) {
                display: block;
            }

            .item {
                position: relative;
                border-radius: 6px;
                background-color: #f0f3f4;
                height: 135px;
                padding: 40px 40px 35px;

                @media (max-width: 1023px) {
                    display: block;
                    margin-bottom: 12px;
                    padding: 38px 35px;
                    height: auto;
                }

                @media (max-width: 767px) {
                    padding: 39px 34px 37px 29px;
                }

                &:last-child {
                    @media (max-width: 1023px) {
                        margin-bottom: 0;
                    }
                }

                &:hover {
                    text-decoration: none;

                    .text {
                        color: #23527c;
                    }

                    .link {
                        background-image: url("/svg/link_hover.svg");
                    }
                }

                .text {
                    font-size: 16px;
                    line-height: 1.44;
                    color: #444444;
                }

                .link {
                    position: absolute;
                    width: 16px;
                    height: 16px;
                    right: 20px;
                    bottom: 20px;
                    background-image: url("/svg/link.svg");
                    transition: all 300ms;

                    @media (max-width: 767px) {
                        right: 15px;
                        bottom: 15px;
                    }
                }
            }
        }
    }

</style>