<template>
    <section>
        <div class="other-buttons">
            <div class="container">
                <div class="row">

                    <div class="holder col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="wrapper">
                            <div class="text">Как поступить на платное место</div>
                            <a target="_blank" href="https://www.vyatsu.ru/abiturientu/univers/dni-otkryityih-dverey-1/otvetyi-na-chasto-zadavaemyie-voprosyi.html" class="btn btn__bordered--sm">Подробнее</a>
                        </div>
                    </div>

                    <div class="holder col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="wrapper">
                            <div class="text">Образцы договоров на платное
                                обучение
                            </div>
                            <a target="_blank" href="https://www.vyatsu.ru/abiturientu/univers/dni-otkryityih-dverey-1/formyi-dogovorov-ob-okazanii-platnyih-obrazovatel-3.html" class="btn btn__bordered--sm">Перейти</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </section>
</template>

<script>
    export default {
    }
</script>

<style scoped lang="less">
    .other-buttons {
        background-color: #f5f8fb;
        padding: 50px 0 100px;

        @media (max-width: 1023px) {
            padding: 20px 0 80px;
        }

        @media (max-width: 767px) {
            padding: 15px 0 60px;
        }

        .holder {
            @media (max-width: 1023px) {
                margin-bottom: 10px;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            .wrapper {
                background-color: white;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 30px 50px;

                @media (max-width: 1199px) {
                    padding: 30px 40px;
                }

                @media (max-width: 1023px) {
                    padding: 30px 60px;
                }

                @media (max-width: 767px) {
                    padding: 40px 27px;
                    display: block;
                }

                .text {
                    margin-right: 40px;
                    font-family: 'Graphik LC Web', "Helvetica Neue", Helvetica, Arial, sans-serif;
                    font-size: 17px;
                    font-weight: 500;
                    line-height: 1.35;
                    color: #444444;

                    @media (max-width: 1023px) {
                        font-size: 16px;
                    }

                    @media (max-width: 767px) {
                        margin-bottom: 25px;
                        text-align: center;
                        margin-right: 0;
                    }
                }

                .btn {
                    flex: 0 0 145px;
                    min-width: 145px;

                    @media (max-width: 767px) {
                        display: block;
                        margin: 0 auto;
                    }
                }
            }
        }
    }

</style>