<template>
    <section>
        <div class="pricing">
            <div class="container">

                <h2 class="block-title">Платное обучение</h2>

                <div class="js-pricing-carousel owl-theme owl-carousel">

                    <div class="item">
                        <div class="part-up">
                            <div class="title">Прикладная математика и информатика</div>
                            <div class="info">Код направления: 01.03.02</div>
                            <div class="box-price">
                                <span class="price">108 660 </span><span class="text">р./год</span>
                            </div>
                        </div>
                        <div class="box-hash">
                            <div class="hash">#Программирование</div>
                            <div class="hash">#ComputerScience</div>
                            <div class="hash">#ЯМатематик</div>
                            <div class="hash">#ЯПрограммист</div>
                            <div class="hash">#ФКиФМН</div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="part-up">
                            <div class="title">Математика и компьютерные науки</div>
                            <div class="info">Код направления: 02.03.01</div>
                            <div class="box-price">
                                <span class="price">108 660 </span><span class="text">р./год</span>
                            </div>
                        </div>
                        <div class="box-hash">
                            <div class="hash">#МатематическоеОбеспечение</div>
                            <div class="hash">#Python</div>
                            <div class="hash">#ComputerScience</div>
                            <div class="hash">#МногоМатематики</div>
                            <div class="hash">#ЯМатематик</div>
                            <div class="hash">#ЯПрограммист</div>
                            <div class="hash">#ФКиФМН</div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="part-up">
                            <div class="title">Фундаментальная информатика и информационные технологии</div>
                            <div class="info">Код направления: 02.03.02</div>
                            <div class="box-price">
                                <span class="price">108 660 </span><span class="text">р./год</span>
                            </div>
                        </div>
                        <div class="box-hash">
                            <div class="hash">#ПрограммноеОбеспечение</div>
                            <div class="hash">#ComputerScience</div>
                            <div class="hash">#ИнтеллектуальныеСистемы</div>
                            <div class="hash">#ЯПрограммист</div>
                            <div class="hash">#ФКиФМН</div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="part-up">
                            <div class="title">Информатика и вычислительная техника</div>
                            <div class="info">Код направления: 09.03.01</div>
                            <div class="box-price">
                                <span class="price">126 160 </span><span class="text">р./год</span>
                            </div>
                        </div>
                        <div class="box-hash">
                            <div class="hash">#ЭВМ</div>
                            <div class="hash">#ПрограммноеОбеспечение</div>
                            <div class="hash">#АппаратноеОбеспечение</div>
                            <div class="hash">#ЯИнженер</div>
                            <div class="hash">#ЯПрограммист</div>
                            <div class="hash">#ФАВТ</div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="part-up">
                            <div class="title">Информационные системы и технологии</div>
                            <div class="info">Код направления: 09.03.02</div>
                            <div class="box-price">
                                <span class="price">126 160 </span><span class="text">р./год</span>
                            </div>
                        </div>
                        <div class="box-hash">
                            <div class="hash">#ПрикладноеПО</div>
                            <div class="hash">#Интеграция</div>
                            <div class="hash">#ИнформационныеСистемы</div>
                            <div class="hash">#АвтоматизацияПроцессов</div>
                            <div class="hash">#ЯПрограммист</div>
                            <div class="hash">#ФАВТ</div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="part-up">
                            <div class="title">Прикладная информатика</div>
                            <div class="info">Код направления: 09.03.03</div>
                            <div class="box-price">
                                <span class="price">126 160 </span><span class="text">р./год</span>
                            </div>
                        </div>
                        <div class="box-hash">
                            <div class="hash">#ПрикладноеПО</div>
                            <div class="hash">#ПрограммнаяИнженерия</div>
                            <div class="hash">#ИнформационныеСистемы</div>
                            <div class="hash">#ЯПрограммист</div>
                            <div class="hash">#ФАВТ</div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="part-up">
                            <div class="title">Информационная безопасность</div>
                            <div class="info">Код направления: 10.03.01</div>
                            <div class="box-price">
                                <span class="price">126 160 </span><span class="text">р./год</span>
                            </div>
                        </div>
                        <div class="box-hash">
                            <div class="hash">#Безопасность</div>
                            <div class="hash">#Телекоммуникации</div>
                            <div class="hash">#СистемыСвязи</div>
                            <div class="hash">#ЗащитаИнформации</div>
                            <div class="hash">#ЯИнженер</div>
                            <div class="hash">#ФАВТ</div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="part-up">
                            <div class="title">Информационная безопасность телекоммуникационных систем</div>
                            <div class="info">Код направления: 10.05.02</div>
                            <div class="box-price">
                                <span class="price">126 160 </span><span class="text">р./год</span>
                            </div>
                        </div>
                        <div class="box-hash">
                            <div class="hash">#Безопасность</div>
                            <div class="hash">#Телекоммуникации</div>
                            <div class="hash">#ЦифровыеУстройства</div>
                            <div class="hash">#ЗащитаИнформации</div>
                            <div class="hash">#ЯСпециалист</div>
                            <div class="hash">#ФАВТ</div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="part-up">
                            <div class="title">Инфокоммуникационные технологии и системы связи</div>
                            <div class="info">Код направления: 11.03.02</div>
                            <div class="box-price">
                                <span class="price">126 160 </span><span class="text">р./год</span>
                            </div>
                        </div>
                        <div class="box-hash">
                            <div class="hash">#Телекоммуникации</div>
                            <div class="hash">#МобильнаяСвязь</div>
                            <div class="hash">#ЦифровыеУстройства</div>
                            <div class="hash">#СистемыСвязи</div>
                            <div class="hash">#ЯИнженер</div>
                            <div class="hash">#ФАВТ</div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="part-up">
                            <div class="title">Управление в технических системах</div>
                            <div class="info">Код направления: 27.03.04</div>
                            <div class="box-price">
                                <span class="price">126 160 </span><span class="text">р./год</span>
                            </div>
                        </div>
                        <div class="box-hash">
                            <div class="hash">#КиберфизическиеСистемы</div>
                            <div class="hash">#Интеграция</div>
                            <div class="hash">#ИнформационныеСистемы</div>
                            <div class="hash">#АвтоматизацияПроцессов</div>
                            <div class="hash">#ЯИнженер</div>
                            <div class="hash">#ФАВТ</div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="part-up">
                            <div class="title">Педагогическое образование (с двумя профилями подготовки). Математика,
                                информатика
                            </div>
                            <div class="info">Код направления: 44.03.05</div>
                            <div class="box-price">
                                <span class="price">108 660 </span><span class="text">р./год</span>
                            </div>
                        </div>
                        <div class="box-hash">
                            <div class="hash">#КомпьютерныеНауки</div>
                            <div class="hash">#ЯМатематик</div>
                            <div class="hash">#ЯПедагог</div>
                            <div class="hash">#ФКиФМН</div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="part-up">
                            <div class="title">Педагогическое образование (с двумя профилями подготовки). Информатика, физика
                            </div>
                            <div class="info">Код направления: 44.03.05</div>
                            <div class="box-price">
                                <span class="price">108 660 </span><span class="text">р./год</span>
                            </div>
                        </div>
                        <div class="box-hash">
                            <div class="hash">#КомпьютерныеНауки</div>
                            <div class="hash">#ЯФизик</div>
                            <div class="hash">#ЯПедагог</div>
                            <div class="hash">#ФКиФМН</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </section>
</template>

<script>
    import PricingCarousel from '~/static/js/components/pricingCarousel.js'

    export default {
        mounted() {
            new PricingCarousel();
        }
    }
</script>

<style scoped>

</style>