<template>
    <section>
        <!--<div v-if="modalOpen === $store.state.modalTypes.test">-->
            <!--<div *ngIf="step < questions.length">-->
                <!--<p class="modal__question-number">Вопрос {{step + 1}} из {{questions.length}}</p>-->

                <!--<h3 class="modal__question">{{questions[step].title}}</h3>-->
                <!--<app-zform-error [error]="zforms[step].f.question.error"></app-zform-error>-->
                <!--<div *ngFor="let question of questions; let iq = index">-->
                    <!--<div class="modal__form" *ngIf="step == iq">-->
                        <!--<label class="modal__label" *ngFor="let a of question.answers; let ia = index">-->
                            <!--<input class="modal__input" type="radio"-->
                                   <!--placeholder=""-->
                                   <!--name="question-{{iq}}-{{ia}}"-->
                                   <!--value="{{ia + 1}}"-->
                                   <!--[ngModel]="zforms[iq].f.question.valueView"-->
                                   <!--(ngModelChange)="zforms[iq].f.question.setValue($event)">-->
                            <!--<span class="modal__label-text">-->
                        <!--<span class="title">{{a.title}}</span>-->
                    <!--</span>-->
                        <!--</label>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<button class="btn btn__filled btn__filled&#45;&#45;sm" (click)="next()">Далее</button>-->
                <!--<button class="modal__btn-close" (click)="modalService.close();"></button>-->
            <!--</div>-->

            <!--<div *ngIf="step == questions.length">-->
                <!--<p class="modal__subtitle">Нам кажется Ты...</p>-->
                <!--<h3 class="modal__question">{{character.name}} из сериала «{{character.movie}}»!</h3>-->
                <!--<img class="modal__img" [src]="'/assets/images/heroes/' + character.photo" alt="">-->
                <!--<p class="modal__result-descr">{{character.description}}</p>-->
                <!--<p class="modal__recommendation">Рекомендуем присмотреться к направлению-->
                    <!--<a class="modal__link" href="#" (click)="choiceDirection(character.system, character.directionId)">-->
                        <!--«{{character.speciality}}»-->
                    <!--</a>-->
                <!--</p>-->
                <!--<p class="modal__share-text">Поделись результатом теста в социальных сетях</p>-->
                <!--<div id="scripts-for-social">-->
                    <!--&lt;!&ndash;<div class="ya-share2"&ndash;&gt;-->
                    <!--&lt;!&ndash;data-services="vkontakte,facebook,twitter"&ndash;&gt;-->
                    <!--&lt;!&ndash;[attr.data-title:facebook]="'Я - ' + character.name + ' из сериала «' + character.movie + '»!'"&ndash;&gt;-->
                    <!--&lt;!&ndash;[attr.data-image:facebook]="'http://imis.vyatsu.ru/assets/images/heroes/' + character.photo"&ndash;&gt;-->
                    <!--&lt;!&ndash;[attr.data-title]="'Я - ' + character.name + ' из сериала «' + character.movie + '»!'"&ndash;&gt;-->
                    <!--&lt;!&ndash;[attr.data-image]="'http://imis.vyatsu.ru/assets/images/heroes/' + character.photo">&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--<div id="my-share"></div>-->
                <!--</div>-->
                <!--<button class="modal__btn-close" @click="close()"></button>-->
            <!--</div>-->
        <!--</div>-->

    </section>
</template>

<script>
    import {mapGetters} from 'vuex'

    export default {
        data() {
            return {
            }
        },
        computed: {
            ...mapGetters({
                modalOpen: 'getModalOpen'
            }),
        },
        methods: {
            close() {
                this.$store.commit('changeModalOpen', '');
            },
            onSubmit() {
                console.log('onSubmit');
            }

        }
    }
</script>

<style scoped>

</style>