<template>
    <section>
        <div v-if="modalOpen === $store.state.modalTypes.staff">
            <h3 class="modal__question">Доступ к кадрам</h3>
            <form class="modal__form-inner" @submit.prevent="onSubmit()">

                <!--<app-zform-error [error]="zform.error"></app-zform-error>-->

                <div class="modal__row">

                    <label class="modal__half-col" for="fio">
                        <input class="modal__input-text" id="fio" type="text" placeholder="ФИО"
                               name="name"
                               v-model="name">
                        <span class="form-field-error">{{errorName}}</span>
                    </label>

                    <label class="modal__half-col" for="company">
                        <input class="modal__input-text" id="company" type="text" placeholder="Компания"
                               name="company"
                               v-model="company">
                        <span class="form-field-error">{{errorCompany}}</span>
                    </label>

                    <label class="modal__full-col" for="email2">
                        <input class="modal__input-text" id="email2" type="text" placeholder="Email"
                               name="email"
                               v-model="email">
                        <span class="form-field-error">{{errorEmail}}</span>
                    </label>

                    <label class="modal__full-col">
                        <textarea class="modal__textarea" id="question-2" placeholder="Вопрос"
                                  name="question"
                                  v-model="question">
                        </textarea>
                        <span class="form-field-error">{{errorQuestion}}</span>
                    </label>

                </div>
                <button class="btn btn__filled btn__filled--sm">Отправить</button>
            </form>
            <button class="modal__btn-close" @click="close()"></button>
        </div>

    </section>
</template>

<script>
    import {mapGetters} from 'vuex'

    export default {
        data() {
            return {
                name: '',
                errorName: '',

                company: '',
                errorCompany: '',

                email: '',
                errorEmail: '',

                question: '',
                errorQuestion: '',
            }
        },
        computed: {
            ...mapGetters({
                modalOpen: 'getModalOpen'
            }),
        },
        methods: {
            close() {
                this.$store.commit('changeModalOpen', '');
            },
            onSubmit() {
                this.errorName = '';
                this.errorCompany = '';
                this.errorEmail = '';
                this.errorQuestion = '';

                let valid = true;
                if (!this.name) {
                    this.errorName = 'Обязательно для заполнения';
                    valid = false;
                }

                if (!this.company) {
                    this.errorCompany = 'Обязательно для заполнения';
                    valid = false;
                }

                if (!this.email) {
                    this.errorEmail = 'Обязательно для заполнения';
                    valid = false;
                }

                if (!this.question) {
                    this.errorQuestion = 'Обязательно для заполнения';
                    valid = false;
                }

                if (this.email) {
                    const reg = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
                    if (!reg.test(this.email)) {
                        this.errorEmail = 'Email не корректный';
                        valid = false;
                    }
                }

                if (valid) {
                    console.log('onSubmit');
                }
            }

        }
    }
</script>

<style scoped>

</style>