<template>
    <section>

    </section>
</template>

<script>
    import {mapGetters} from 'vuex'

    export default {
        computed: {
            ...mapGetters({
                modalOpen: 'getModalOpen'
            }),
        },
    }
</script>

<style scoped>

</style>