<template>
    <section>
        <main role="main">
            <Header></Header>
            <div class="main-holder-content" id="main-holder-content">
                <nuxt/>
            </div>
            <Footer></Footer>

            <DirectionsListFixed v-if="goodPath"></DirectionsListFixed>

            <Modal></Modal>
        </main>
    </section>
</template>

<script>
    import Header from '~/components/_parts/Header.vue'
    import Footer from '~/components/_parts/Footer.vue'
    import Modal from '~/components/_parts/modal/Modal.vue'
    import DirectionsListFixed from '~/components/_parts/DirectionsListFixed.vue'

    export default {
        components: {
            Header,
            Footer,
            Modal,
            DirectionsListFixed,
        },
        computed: {
            goodPath() {
                return this.$route.fullPath.split('/')[1].indexOf('entry') > -1;
            }
        }
    }
</script>

<style>

</style>

