<template>
    <section>
        <TopScreen></TopScreen>
        <InfoGoTo></InfoGoTo>

        <SystemHead :init="false"></SystemHead>
        <DirectionsList></DirectionsList>

        <CareerAfter></CareerAfter>
        <AccordionWrap></AccordionWrap>
        <MapInfo></MapInfo>
        <Map></Map>
        <Cooperation></Cooperation>
        <AboutStats></AboutStats>
        <!--<News></News>-->
    </section>
</template>

<script>
    import TopScreen from '~/components/pages/index/TopScreen.vue'
    import InfoGoTo from '~/components/pages/index/InfoGoTo.vue'
    import SystemHead from '~/components/_parts/SystemsHead.vue'
    import DirectionsList from '~/components/_parts/DirectionsList.vue'
    import CareerAfter from '~/components/pages/index/CareerAfter.vue'
    import AccordionWrap from '~/components/pages/index/AccordionWrap.vue'
    import MapInfo from '~/components/pages/index/MapInfo.vue'
    import Map from '~/components/pages/index/Map.vue'
    import Cooperation from '~/components/pages/index/Cooperation.vue'
    import AboutStats from '~/components/pages/index/AboutStats.vue'
    import News from '~/components/pages/index/News.vue'

    export default {
        components: {
            TopScreen,
            InfoGoTo,
            SystemHead,
            DirectionsList,
            CareerAfter,
            AccordionWrap,
            MapInfo,
            Map,
            Cooperation,
            AboutStats,
            News
        },
        mounted() {
            this.$store.commit('changeMainColor', '')
        }
    }
</script>

<style>

</style>

