<template>
    <section>

    </section>
</template>

<script>
    export default {
        beforeCreate() {
            this.$router.replace({name: 'entry-baccalaureate-and-specialty'})
        }
    }
</script>