<template>
    <section>
        <div class="entry-page">
            <div class="title-page">
                <div class="container">
                    <h1>Поступить в институт</h1>
                </div>
            </div>

            <div class="tabs">
                <SystemHead :init="true"></SystemHead>

                <div class="container">
                    <div class="direction">
                        <div class="title">
                            Направления
                        </div>

                        <div class="info">
                            <div class="icon"></div>
                            <div class="text">Выбери одно из направлений чтобы получить подробную информацию</div>
                        </div>
                    </div>
                </div>

                <DirectionsList :init="true"></DirectionsList>

                <DirectionView></DirectionView>
            </div>

            <HowEnter></HowEnter>
            <Pricing></Pricing>
            <OtherButtons></OtherButtons>
            <!--<MoreInfo></MoreInfo>-->
            <!--<app-tabs-fixed></app-tabs-fixed>-->
        </div>
    </section>
</template>

<script>
    import SystemHead from '~/components/_parts/SystemsHead.vue'
    import HowEnter from '~/components/pages/entry/HowEnter.vue'
    import Pricing from '~/components/pages/entry/Pricing.vue'
    import OtherButtons from '~/components/pages/entry/OtherButtons.vue'
    import MoreInfo from '~/components/pages/entry/MoreInfo.vue'
    import DirectionsList from '~/components/_parts/DirectionsList.vue'
    import DirectionView from '~/components/_parts/DirectionView.vue'

    export default {
        components: {
            SystemHead,
            DirectionsList,
            DirectionView,
            HowEnter,
            Pricing,
            OtherButtons,
            MoreInfo,
        },
        mounted() {
            this.$store.commit('changeMainColor', 'blue')
        },
        scrollToTop: false
    }
</script>

<style scoped lang="less">
    .entry-page {
        .title-page {
            padding: 137px 0 74px;
            background-color: #3e8bfc;

            @media (max-width: 1023px) {
                padding: 100px 0 51px;
            }

            @media (max-width: 767px) {
                padding: 61px 0 52px;
            }

            h1 {
                font-family: 'Graphik LC Web', "Helvetica Neue", Helvetica, Arial, sans-serif;
                font-size: 59px;
                font-weight: bold;
                line-height: 1;
                color: #ffffff;

                @media (max-width: 1023px) {
                    font-size: 53px;
                }

                @media (max-width: 767px) {
                    font-size: 42px;
                    text-align: center;
                }
            }
        }

        .tabs {
            background-color: #f5f8fb;

            .direction {
                padding: 80px 0 54px;
                display: flex;
                align-items: center;

                @media (max-width: 1023px) {
                    display: block;
                    padding: 60px 0 20px;
                }

                @media (max-width: 767px) {
                    padding: 40px 0 23px;
                }

                .title {
                    font-family: 'Graphik LC Web', "Helvetica Neue", Helvetica, Arial, sans-serif;
                    font-size: 36px;
                    font-weight: 500;
                    line-height: 1.17;
                    color: #122a51;
                    margin-right: 50px;

                    @media (max-width: 1023px) {
                        font-size: 30px;
                    }

                    @media (max-width: 767px) {
                        font-size: 28px;
                    }
                }

                .info {
                    display: flex;

                    @media (max-width: 1023px) {
                        margin-top: 20px;
                    }

                    .icon {
                        flex: 0 0 22px;
                        height: 22px;
                        background-image: url("/svg/warning.svg");
                        background-position: 50% 50%;
                        background-repeat: no-repeat;
                        background-size: cover;
                        margin-right: 10px;

                        @media (max-width: 767px) {
                            margin-right: 13px;
                        }
                    }

                    .text {
                        font-size: 16px;
                        line-height: 1.44;
                        color: #444444;
                        white-space: nowrap;

                        @media (max-width: 1023px) {
                            white-space: normal;
                        }
                    }
                }
            }
        }
    }

</style>