.career-after {
  overflow-x: hidden;
  padding-top: 55px;

  &__title {
    font-family: 'Graphik LC Web', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 28px;
    color: #122a51;
    font-weight: 500;
    line-height: 34px;
    margin-bottom: 25px;
  }

  &__subtitle {
    font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #444444;
    line-height: 24px;
    margin-bottom: 15px;
  }

  &__text {
    font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #9299a6;
    line-height: 23px;
  }

  &__carousel {

    &-item {
      width: 290px;
    }

    &-video {
      overflow: hidden;
      margin-bottom: 15px;
      position: relative;
      display: block;
      width: 100%;
      padding: 0;
      cursor: pointer;
      background-position: 50% 50%;
      background-size: cover;
      background-repeat: no-repeat;

      &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-image: url("/svg/play.svg");
        background-position: 50% 50%;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        background-color: rgba(146, 153, 166, 0.4);
      }

      &.play {
        &:after {
          background-color: transparent;
          background-image: url("/svg/stop.svg");
          opacity: 0;
          width: 100%;
          height: 60%;
          transition: opacity 300ms;
        }

        &:hover {
          &:after {
            opacity: 1;
          }
        }
      }

      video,
      iframe {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
      }

      &::before {
        display: block;
        content: "";
        padding-top: 56.25%;
      }

      &::after {
        display: block;
        clear: both;
        content: "";
      }

      iframe {

      }
    }

    &-caption {
      font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 20px;
      font-weight: 500;
      color: #444444;
      line-height: 24px;
      margin-bottom: 15px;
    }

    &-text {
      font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #9299a6;
      margin-bottom: 35px;
    }
  }

  @media (min-width: 768px) {
    padding-top: 75px;

    &__title {
      font-size: 30px;
      line-height: 36px;
      margin-bottom: 30px;
    }

    &__subtitle {
      line-height: 28px;
    }

    &__text {
      margin-bottom: 50px;
    }

    &__carousel {

      &-caption {
        line-height: 28px;
      }

      &-text {
        line-height: 20px;
        margin-bottom: 40px;
      }

      &-item {
        width: 422px;
      }
    }
  }
  @media (min-width: 1024px) {
    padding-top: 100px;

    &__title {
      font-size: 36px;
      line-height: 42px;
      margin-bottom: 30px;
    }

    &__subtitle {
      line-height: 28px;
    }

    &__carousel {
      width: 50vw;

      &-item {
        width: 380px;
      }
    }
  }
  @media (min-width: 1200px) {

    &__carousel {

      &-item {
        width: 570px;
      }
    }

  }
}