.fixed-tabs {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  right: 0;
  background-color: #ffffff;
  box-shadow: 0 -6px 20px rgba(21, 46, 51, 0.15);
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms;
  cursor: pointer;

  &.show {
    opacity: 1;
    pointer-events: auto;
  }

  .owl-stage,
  .owl-item {
    display: flex;
  }

  .owl-nav {
    position: absolute;
    top: 7px;
    right: -130px;
    z-index: 100;

    .disabled, [class*=owl-] {
      width: 30px;
      height: 30px;
      font-size: 0;
      opacity: 1;
      background-color: transparent;
    }

    [class*=owl-] {
      &.owl-prev {
        background-image: url('/svg/slide_arrow_left.svg');
      }

      &.owl-next {
        background-image: url('/svg/slide_arrow_right.svg');
      }

      &.owl-prev,
      &.owl-next {
        font-size: 0;

        &:hover {
          background-color: transparent;
        }
      }
    }

    .disabled {
      &.owl-prev {
        background-image: url('/svg/slide_arrow_left_def.svg');
      }

      &.owl-next {
        background-image: url('/svg/slide_arrow_right_def.svg');
      }
    }
  }

  .tab-link {
    font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 1.5;
    color: #444444;
    border-right: 1px solid #f0f0f3;
    padding: 15px 20px;
    max-width: 270px;
    border-radius: 0;
    font-weight: 500;
    background-color: #ffffff;
    flex-direction: column;
    justify-content: space-between;
    display: block;
    height: 100%;
    width: 100%;
    text-align: start;
    outline: 0;

    &.nuxt-link-exact-active {
      border-bottom: 3px solid #3e8bfc;
    }
  }

  .tab-link__subtext {
    display: none;
  }
}
