.modal {
  position: fixed;
  z-index: 110;
  display: none;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &__overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  &.active {
    display: flex;
  }

  &__inner {
    padding: 30px 20px;
    position: relative;
    z-index: 2;
    text-align: center;
    background-color: #ffffff;
    max-width: 770px;
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
    display: block;
  }

  &__subtitle {
    font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #9299a6;
    text-transform: uppercase;
  }

  &__img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    margin-bottom: 35px;
  }

  &__result-descr {
    font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #444444;
  }

  &__recommendation {
    font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    color: #444444;
  }

  &__link {
    color: #0a70c9;
    display: block;

    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
    }
  }

  &__share-text {
    font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #9299a6;
    margin-bottom: 30px;
  }

  &__question {
    font-family: 'Graphik LC Web', "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #122a51;
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;

    &-number {
      font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: #9299a6;
      font-size: 13px;
      line-height: 18px;
    }
  }

  &__label {
    font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    display: block;
    text-align: left;
    border-bottom: 1px solid #f0f3f4;
    padding: 13px 20px;

    &-text {
      display: flex;

      &:before {
        content: '';
        display: inline-block;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: 5px solid #ffffff;
        vertical-align: text-top;
        box-shadow: 0 0 0 1px #c5c9ca;
        transition: all .3s;
        margin-right: 20px;
        margin-top: 4px;
        flex: 0 0 auto;
      }

      .title {
      }
    }

    &:last-child {
      border-bottom: none;
    }
  }

  &__input {
    display: none;

    &:checked {
      ~.modal__label-text:before {
        background-color: #3e8bfc;
      }
    }

    &-text {
      width: 100%;
      line-height: 60px;
      border-radius: 4px;
      border: solid 1px #dde1e6;
      font-size: 16px;
      color: #122a51;
      padding: 0 24px;
    }
  }

  &__textarea {
    width: 100%;
    margin-bottom: 20px;
    line-height: 1.44;
    border-radius: 4px;
    border: solid 1px #dde1e6;
    font-size: 16px;
    color: #122a51;
    padding: 20px 24px;
    resize: none;
  }

  &__form {
    border: 1px solid #f0f3f4;
    margin-bottom: 30px;

    &-inner {

    }
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__half-col {
    width: 48%;
    margin-bottom: 20px;
  }

  &__full-col {
    width: 100%;
    margin-bottom: 20px;
  }

  &__btn-close {
    position: absolute;
    right: 20px;
    top: 20px;
    display: block;
    width: 38px;
    height: 38px;
    background-color: transparent;
    border: none;
    border-radius: 0;
    padding: 5px;
    cursor: pointer;

    &:before,
    &:after {
      content: '';
      display: block;
      height: 2px;
      width: 26px;
      background-color: #9299a6;
      position: absolute;
      top: 18px;
      left: 6px;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }

  .ya-share2__list {
    transform: scale(2);
  }

  @media (min-width: 768px) {

    &__inner {
      padding: 80px 100px;
    }

    &__btn-close {
      right: 30px;
      top: 30px;
    }
  }

  @media (min-width: 1024px) {

  }

  @media (min-width: 1200px) {

  }

  .success-form {
    font-size: 20px;
  }
}
