.pricing {
  overflow-x: hidden;
  background-color: #f5f8fb;
  padding-top: 100px;

  @media (max-width: 1023px) {
    padding-top: 80px;
  }

  @media (max-width: 767px) {
    padding-top: 60px;
  }

  .block-title {
    font-family: 'Graphik LC Web', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 1.17;
    color: #122a51;
    margin: 0;

    @media (max-width: 1023px) {
      font-size: 30px;
    }

    @media (max-width: 767px) {
      font-size: 28px;
    }
  }

  .owl-theme  {
    .owl-nav {
      position: absolute;
      top: 38px;
      right: 0;
      margin: 0;

      .disabled, [class*=owl-] {
        width: 30px;
        height: 30px;
        font-size: 0;
        opacity: 1;
        background-color: transparent;
      }

      [class*=owl-] {
        &.owl-prev {
          background-image: url('/svg/slide_arrow_left.svg');
        }

        &.owl-next {
          background-image: url('/svg/slide_arrow_right.svg');
        }
      }

      .disabled {
        &.owl-prev {
          background-image: url('/svg/slide_arrow_left_def.svg');
        }

        &.owl-next {
          background-image: url('/svg/slide_arrow_right_def.svg');
        }
      }
    }
  }

  .js-pricing-carousel {
    position: relative;
    padding-top: 97px;

    .owl-stage,
    .owl-item {
      display: flex;
    }

    @media (max-width: 1199px) {
      padding-top: 54px;
    }

    @media (max-width: 1023px) {
      padding-top: 35px;
    }

    .owl-stage-outer {
      padding-top: 10px;

      @media (max-width: 1199px) {
        padding-top: 50px;
        overflow: visible;
      }

      @media (max-width: 1023px) {
        padding-top: 0;
      }
    }

    .owl-dots {
      position: absolute;
      top: 54px;
      left: 0;
      right: 100px;
      display: flex;

      @media (max-width: 1023px) {
        display: none;
      }

      .owl-dot {
        flex: 1 1 100%;

        &.active {
          span {
            background-color: #3e8bfc;
          }

          &:hover {
            span {
              background-color: #3e8bfc;
            }
          }
        }

        &:hover {
          span {
            background-color: #c3c6c9;
          }
        }

        span {
          margin: 10px 0;
          width: 100%;
          height: 3px;
          background-color: #e5e8ec;
          transition: all 300ms;
        }
      }
    }

    .item {
      width: 360px;
      min-height: 415px;
      background-color: white;
      padding: 55px 40px 55px 50px;

      @media (max-width: 1199px) {
        width: 380px;
      }

      @media (max-width: 1023px) {
        padding: 50px 30px;
        width: 610px;
        min-height: 238px;
      }

      @media (max-width: 767px) {
        padding: 35px 25px;
        width: 290px;
        min-height: 350px;
      }

      .title {
        flex: 0 0 100%;
        font-family: 'Graphik LC Web', "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 17px;
        font-weight: 500;
        line-height: 1.35;
        color: #444444;
        margin-bottom: 25px;

        @media (max-width: 1023px) {
          font-size: 16px;
          order: 1;
          flex: 1;
          margin-right: 75px;
          margin-bottom: 24px;
        }

        @media (max-width: 767px) {
          margin-bottom: 20px;
          text-align: center;
          flex: 0 0 100%;
          margin-right: 0;
        }
      }

      .info {
        flex: 0 0 100%;
        font-size: 16px;
        line-height: 1.44;
        color: #9299a6;
        margin-bottom: 42px;

        @media (max-width: 1023px) {
          order: 3;
          margin-bottom: 27px;
        }

        @media (max-width: 767px) {
          order: 2;
          text-align: center;
        }
      }

      .box-price {
        flex: 0 0 100%;
        font-weight: bold;
        line-height: 1.08;
        color: #122a51;
        margin-bottom: 42px;

        @media (max-width: 1023px) {
          order: 2;
          flex: inherit;
          margin-bottom: 24px;
        }

        @media (max-width: 767px) {
          order: 3;
          text-align: center;
          margin-bottom: 37px;
          flex: 0 0 100%;
        }

        .price {
          font-family: 'Graphik LC Web', "Helvetica Neue", Helvetica, Arial, sans-serif;
          font-size: 26px;
        }

        .text {
          font-family: 'Graphik LC Web', "Helvetica Neue", Helvetica, Arial, sans-serif;
          font-size: 16px;
        }
      }

      .box-hash {
        flex: 0 0 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;

        @media (max-width: 1023px) {
          order: 4;
        }

        @media (max-width: 767px) {
          justify-content: center;
        }

        .hash {
          border-radius: 2px;
          background-color: #f5f8fb;
          padding: 10px 15px;
          font-size: 12px;
          line-height: 1.5;
          color: #9299a6;
          margin-right: 8px;
          margin-bottom: 8px;
        }
      }
    }
  }
}
