.btn {
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    padding: 0 30px;
    min-width: 185px;
    border-radius: 30px;
    border: none;
    font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;

    &__filled {
        line-height: 60px;
        background-color: #3e8bfc;

        &--gray {
            line-height: 60px;
            background-color: #bababa;
        }

        &--white {
            line-height: 60px;
            color: #3e8bfc;
            background-color: white;
        }

        &--sm {
            line-height: 44px;
            font-size: 14px;
        }
    }

    &__bordered {
        line-height: 56px;
        color: #3e8bfc;
        border: 2px solid #3e8bfc;
        background-color: transparent;

        &--sm {
            font-size: 16px;
            line-height: 40px;
            color: #3e8bfc;
            border: 2px solid #3e8bfc;
            background-color: transparent;
        }
    }

    &--tooltip {
        position: relative;
        cursor: pointer;

        span {
            pointer-events: none;
            text-align: center;
            font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
            display: none;
            position: absolute;
            padding: 5px 15px;
            line-height: 20px;
            top: -42px;
            font-size: 14px;
            font-weight: 500;
            color: #122a51;
            border: 1px solid #cecece;
            border-radius: 4px;
            z-index: 1;
            background-color: #ffffff;
            min-width: 185px;
            left: ~"calc(50% - 92px)";
        }

        &:before {
            content: '';
            display: none;
            position: absolute;
            top: -10px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 10px 10px 0 10px;
            border-color: #cecece transparent transparent transparent;
            left: ~"calc(50% - 10px)";
            z-index: 2;
        }

        &:after {
            content: '';
            display: none;
            position: absolute;
            top: -11px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 10px 10px 0 10px;
            border-color: #ffffff transparent transparent transparent;
            left: ~"calc(50% - 10px)";
            z-index: 3;
        }

        &:hover:before,
        &:hover:after,
        &:hover span {
            display: inline-block;
        }
    }

    &:focus,
    &:active {
        outline: none;
    }
}
