* {
  box-sizing: border-box;
  font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
}

.hide {
  display: none;
}

.form-field-error {
  color: red;
  margin-bottom: 2px;
  display: block;
}

.form-error {
  color: red;
  margin: 2px 0 5px;
  text-align: center;
  font-weight: bold;
  display: block;
}